<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="AboMapperCustom-13720995" />
            <add name="AboMapperCustom-13720995" path="*.swe" verb="*" modules="IsapiModule" scriptProcessor="D:\SIA81\SWEApp\bin\sweiis.dll" resourceType="Unspecified" requireAccess="Script" responseBufferLimit="0" />
        </handlers>
    </system.webServer>
</configuration>
