.ControlMapped
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    WHITE-SPACE: nowrap
}
.ControlMappedSelected
{
    BORDER-RIGHT: #6666cc 1px solid;
    BORDER-TOP: #6666cc 1px solid;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #6666cc 1px solid;
    COLOR: #6666cc;
    BORDER-BOTTOM: #6666cc 1px solid;
    WHITE-SPACE: nowrap
}
.ControlUnmapped
{
    BORDER-RIGHT: #999999 1px dashed;
    PADDING-RIGHT: 15px;
    BORDER-TOP: #999999 1px dashed;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #999999 1px dashed;
    COLOR: #666666;
    BORDER-BOTTOM: #999999 1px dashed;
    WHITE-SPACE: nowrap
}
.ControlUnMappedSelected
{
    BORDER-RIGHT: #6666cc 1px dashed;
    PADDING-RIGHT: 15px;
    BORDER-TOP: #6666cc 1px dashed;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #6666cc 1px dashed;
    COLOR: #6666cc;
    BORDER-BOTTOM: #6666cc 1px dashed;
    WHITE-SPACE: nowrap
}
.AppletMapped
{
    BORDER-RIGHT: 2px;
    BORDER-TOP: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 2px;
    COLOR: #000000;
    BORDER-BOTTOM: 2px
}
.AppletMappedSelected
{
    BORDER-RIGHT: #6666cc 2px solid;
    BORDER-TOP: #6666cc 2px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #6666cc 2px solid;
    COLOR: #6666cc;
    BORDER-BOTTOM: #6666cc 2px solid
}
.AppletUnMapped
{
    FONT-WEIGHT: bold;
    CURSOR: default;
    COLOR: #cc0000
}
.AppletUnMappedSelected
{
    FONT-WEIGHT: bold;
    CURSOR: default;
    COLOR: #cc0000;
    BACKGROUND-COLOR: #ffff80
}
.ControlMappedOver
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #ffffcc
}
.ControlMappedOverSelected
{
    BORDER-RIGHT: #6666cc 1px solid;
    BORDER-TOP: #6666cc 1px solid;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #6666cc 1px solid;
    COLOR: #6666cc;
    BORDER-BOTTOM: #6666cc 1px solid;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #ffffcc
}
.AppletMappedOver
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1px;
    CURSOR: default;
    COLOR: #ffffff;
    BORDER-BOTTOM: 1px
}
.AppletMappedOverSelected
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1px;
    CURSOR: default;
    COLOR: #000000;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffff80
}
.ControlMappedMore
{
    BORDER-RIGHT: #cccccc 1px inset;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: #cccccc 1px inset;
    PADDING-LEFT: 15px;
    BACKGROUND-IMAGE: url(../images/tools_more_0.gif);
    BORDER-LEFT: #cccccc 1px inset;
    WIDTH: 90%;
    BORDER-BOTTOM: #cccccc 1px inset;
    BACKGROUND-REPEAT: no-repeat;
    WHITE-SPACE: nowrap
}
.ControlMappedOverMore
{
    BORDER-RIGHT: #cccccc 1px inset;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: #cccccc 1px inset;
    PADDING-LEFT: 15px;
    BACKGROUND-IMAGE: url(../images/tools_more_0.gif);
    BORDER-LEFT: #cccccc 1px inset;
    WIDTH: 90%;
    BORDER-BOTTOM: #cccccc 1px inset;
    BACKGROUND-REPEAT: no-repeat;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #ffffcc
}
.ControlMappedOverSelectedMore
{
    BORDER-RIGHT: #6666cc 1px solid;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: #6666cc 1px solid;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    BACKGROUND-IMAGE: url(../images/tools_more_1.gif);
    BORDER-LEFT: #6666cc 1px solid;
    WIDTH: 90%;
    COLOR: #6666cc;
    BORDER-BOTTOM: #6666cc 1px solid;
    BACKGROUND-REPEAT: no-repeat;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #ffffcc
}
.ControlMappedSelectedMore
{
    BORDER-RIGHT: #6666cc 1px solid;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: #6666cc 1px solid;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    BACKGROUND-IMAGE: url(../images/tools_more_1.gif);
    BORDER-LEFT: #6666cc 1px solid;
    WIDTH: 90%;
    COLOR: #6666cc;
    BORDER-BOTTOM: #6666cc 1px solid;
    BACKGROUND-REPEAT: no-repeat;
    WHITE-SPACE: nowrap
}
.ControlMappedInvisible
{
    BORDER-RIGHT: #999999 1px dotted;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #999999 1px dotted;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #999999 1px dotted;
    COLOR: #999999;
    BORDER-BOTTOM: #999999 1px dotted
}
.ControlMappedOverInvisible
{
    BORDER-RIGHT: #999999 1px dotted;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #999999 1px dotted;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #999999 1px dotted;
    COLOR: #999999;
    BORDER-BOTTOM: #999999 1px dotted;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #ffffcc
}
.ControlMappedOverSelectedInvisible
{
    BORDER-RIGHT: #6666cc 1px dotted;
    BORDER-TOP: #6666cc 1px dotted;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #6666cc 1px dotted;
    COLOR: #6666cc;
    BORDER-BOTTOM: #6666cc 1px dotted;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #ffffcc
}
.ControlMappedSelectedInvisible
{
    BORDER-RIGHT: #6666cc 1px dotted;
    BORDER-TOP: #6666cc 1px dotted;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #6666cc 1px dotted;
    COLOR: #6666cc;
    BORDER-BOTTOM: #6666cc 1px dotted;
    WHITE-SPACE: nowrap
}
.GridControlMapped
{
    BORDER-RIGHT: gray 1px;
    BORDER-TOP: gray 1px;
    BORDER-LEFT: gray 1px;
    BORDER-BOTTOM: gray 1px;
    BACKGROUND-COLOR: white
}
.GridControlMappedApp
{
    BORDER-RIGHT: #8a2be2 2px solid;
    BORDER-TOP: #8a2be2 2px solid;
    BORDER-LEFT: #8a2be2 2px solid;
    BORDER-BOTTOM: #8a2be2 2px solid;
    BACKGROUND-COLOR: white
}
.GridControlMappedMore
{
    BORDER-RIGHT: #cccccc 1px inset;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: #cccccc 1px inset;
    PADDING-LEFT: 15px;
    BACKGROUND-IMAGE: url(../images/tools_more_0.gif);
    BORDER-LEFT: #cccccc 1px inset;
    BORDER-BOTTOM: #cccccc 1px inset;
    BACKGROUND-REPEAT: no-repeat;
    WHITE-SPACE: nowrap
}
.GridControlMappedMoreApp
{
    BORDER-RIGHT: #8a2be2 1px inset;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: #8a2be2 1px inset;
    PADDING-LEFT: 15px;
    BACKGROUND-IMAGE: url(../images/tools_more_0.gif);
    BORDER-LEFT: #8a2be2 1px inset;
    BORDER-BOTTOM: #8a2be2 1px inset;
    BACKGROUND-REPEAT: no-repeat;
    WHITE-SPACE: nowrap
}
.GridControlMappedSelected
{
    BORDER-RIGHT: black thin double;
    BORDER-TOP: black thin double;
    BORDER-LEFT: black thin double;
    COLOR: black;
    BORDER-BOTTOM: black thin double;
    BACKGROUND-COLOR: white
}
.GridControlMappedSelectedLast
{
    BORDER-RIGHT: #ff4500 thin double;
    BORDER-TOP: #ff4500 thin double;
    BORDER-LEFT: #ff4500 thin double;
    COLOR: black;
    BORDER-BOTTOM: #ff4500 thin double;
    BACKGROUND-COLOR: white
}
.GridControlMappedOver
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    BACKGROUND-COLOR: #ffffcc
}
.GridControlMappedOverMore
{
    BORDER-RIGHT: #cccccc 1px inset;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: #cccccc 1px inset;
    PADDING-LEFT: 15px;
    BACKGROUND-IMAGE: url(../images/tools_more_0.gif);
    BORDER-LEFT: #cccccc 1px inset;
    BORDER-BOTTOM: #cccccc 1px inset;
    BACKGROUND-REPEAT: no-repeat;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #ffffcc
}
.GridControlMappedOverSelected
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-WEIGHT: bold;
    BORDER-LEFT: black 1px solid;
    COLOR: #6666cc;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #ffffcc
}
.GridControlMappedOverSelectedLast
{
    BORDER-RIGHT: #ff4500 1px solid;
    BORDER-TOP: #ff4500 1px solid;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #ff4500 1px solid;
    COLOR: #6666cc;
    BORDER-BOTTOM: #ff4500 1px solid;
    BACKGROUND-COLOR: #ffffcc
}
.GridControlMappedOverSelectedMore
{
    BORDER-RIGHT: 1px solid;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: 1px solid;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    BACKGROUND-IMAGE: url(../images/tools_more_1.gif);
    BORDER-LEFT: 1px solid;
    WIDTH: 90%;
    COLOR: #6666cc;
    BORDER-BOTTOM: 1px solid;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #ffffcc
}
.GridControlMappedOverSelectedLastMore
{
    BORDER-RIGHT: #ff4500 1px solid;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: #ff4500 1px solid;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    BACKGROUND-IMAGE: url(../images/tools_more_1.gif);
    BORDER-LEFT: #ff4500 1px solid;
    WIDTH: 90%;
    COLOR: #6666cc;
    BORDER-BOTTOM: #ff4500 1px solid;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #ffffcc
}
.GridControlMappedSelectedMore
{
    BACKGROUND-POSITION: left top;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    BACKGROUND-IMAGE: url(../images/tools_more_1.gif);
    COLOR: #6666cc;
    BACKGROUND-REPEAT: no-repeat
}
.GridControlMappedSelectedLastMore
{
    BORDER-RIGHT: #ff4500 1px solid;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: #ff4500 1px solid;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    BACKGROUND-IMAGE: url(../images/tools_more_1.gif);
    BORDER-LEFT: #ff4500 1px solid;
    COLOR: #6666cc;
    BORDER-BOTTOM: #ff4500 1px solid;
    BACKGROUND-REPEAT: no-repeat
}
.GridControlMappedInvisible
{
    BORDER-RIGHT: #999999 1px dotted;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #999999 1px dotted;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #999999 1px dotted;
    COLOR: #999999;
    BORDER-BOTTOM: #999999 1px dotted
}
.GridControlMappedInvisibleApp
{
    BORDER-RIGHT: #8a2be2 1px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #8a2be2 1px;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #8a2be2 1px;
    COLOR: #999999;
    BORDER-BOTTOM: #8a2be2 1px
}
.GridControlMappedOverInvisible
{
    BORDER-RIGHT: #999999 1px dotted;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #999999 1px dotted;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #999999 1px dotted;
    COLOR: #999999;
    BORDER-BOTTOM: #999999 1px dotted;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #ffffcc
}
.GridControlMappedOverSelectedInvisible
{
    BORDER-RIGHT: #6666cc 1px dotted;
    BORDER-TOP: #6666cc 1px dotted;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #6666cc 1px dotted;
    COLOR: #6666cc;
    BORDER-BOTTOM: #6666cc 1px dotted;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #ffffcc
}
.GridControlMappedOverSelectedLastInvisible
{
    BORDER-RIGHT: #ff4500 1px dotted;
    BORDER-TOP: #ff4500 1px dotted;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #ff4500 1px dotted;
    COLOR: #6666cc;
    BORDER-BOTTOM: #ff4500 1px dotted;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #ffffcc
}
.GridControlMappedSelectedInvisible
{
    BORDER-RIGHT: #6666cc 1px dotted;
    BORDER-TOP: #6666cc 1px dotted;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #6666cc 1px dotted;
    COLOR: #6666cc;
    BORDER-BOTTOM: #6666cc 1px dotted;
    WHITE-SPACE: nowrap
}
.GridControlMappedSelectedLastInvisible
{
    BORDER-RIGHT: #ff4500 1px dotted;
    BORDER-TOP: #ff4500 1px dotted;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #ff4500 1px dotted;
    COLOR: #6666cc;
    BORDER-BOTTOM: #ff4500 1px dotted;
    WHITE-SPACE: nowrap
}
.GridCanvas
{
    BORDER-RIGHT: gray 1px solid;
    BACKGROUND-POSITION: left top;
    BORDER-TOP: gray 1px solid;
    BACKGROUND-IMAGE: url(../images/grid_unmapped_tools.gif);
    BORDER-LEFT: gray 1px solid;
    WIDTH: 1024px;
    BORDER-BOTTOM: gray 1px solid;
    BACKGROUND-REPEAT: repeat;
    POSITION: relative;
    HEIGHT: 800px;
    BORDER-TOP: gray 1px solid;
}
.GridBack
{
    BORDER-RIGHT: #808080 1px solid;
    BORDER-TOP: #808080 1px solid;
    BACKGROUND-IMAGE: url(../images/grid_unmapped_tools_prev.gif);
    BORDER-LEFT: #808080 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #808080 1px solid;
    POSITION: relative;
    HEIGHT: 100%;
    BACKGROUND-COLOR: #f0f0f0;
    BACKGROUND-REPEAT: repeat;
}
.TabOrder
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    OVERFLOW: hidden;
    BORDER-LEFT: 1px;
    WIDTH: 24px;
    BORDER-BOTTOM: 1px;
    POSITION: absolute;
    TOP: 0px;
    HEIGHT: 16px;
    BACKGROUND-COLOR: #dddddd;
    TEXT-ALIGN: center
}
.TabOrderSelected
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    OVERFLOW: hidden;
    BORDER-LEFT: black 1px solid;
    WIDTH: 24px;
    BORDER-BOTTOM: black 1px solid;
    POSITION: absolute;
    TOP: 0px;
    HEIGHT: 16px;
    BACKGROUND-COLOR: #9999ff;
    TEXT-ALIGN: center
}
.Simple
{
    OVERFLOW: hidden;
    WIDTH: 144pt;
    HEIGHT: 20pt
}
TEXTAREA
{
    HEIGHT: 56px
}
.GridControlOverlap
{
    BORDER-RIGHT: #ff0000 1px solid;
    BORDER-TOP: #ff0000 1px solid;
    FONT-WEIGHT: bold;
    BORDER-LEFT: #ff0000 1px solid;
    COLOR: #6666cc;
    BORDER-BOTTOM: #ff0000 1px solid;
    BACKGROUND-COLOR: #ffffcc
}
.ControlMappedInvisible INPUT
{
    COLOR: gray
}
.GridControlMappedInvisible INPUT
{
    COLOR: gray
}
