/* Header */

    div.fc{
        border: 1px solid #ccc;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        margin: 2px 2px 10px;
        padding-bottom: 7px;
        background: #ddd;
    }
    .siebui-main-column33 div.fc {
        overflow: hidden;
    }


    table.fc-header{ 
        __border-bottom: 0;
    }
    .fc .fc-header-space {
        padding-left: 4px;
    }   
    .siebui-main-column33 .fc .fc-header-space {
        padding-left: 3px;
    }   
    .fc-button {
        height: 20px;
        line-height: 20px;
        padding: 0;
        float: none;
    }
    #cal-custom-buttons {
        padding: 0 3px;
    }
    #cal-custom-buttons .fc-button {
        height: 2em;
        margin: 1px 1px 5px;
    }   
    .fc-header .fc-button {
       margin: 8px 0;
    }
    .fc-state-default .fc-button-inner{
        color: #FAFAFA;
        border:0;
        background: none;
    }
    .fc-state-disabled, .fc-state-disabled .fc-button-inner {
        color: #999999;
    }
    .fc-button-newEvent {
        font-weight: bold;
    }
    .fc-button-content {
        font-size: 1em;
        line-height: 20px;
        height: 20px;
        padding: 0 7px;
    }
    #cal-custom-buttons .fc-button-content {
        font-size: 1em;
        padding: 0 6px;
        line-height: 2em;
        height: 14px;
    }
    .siebui-main-column33 .fc-button-content {
        font-size: 0.9em;
        height: 14px;
        line-height: 14px;
    }

    .fc-button-content > font {
        font-size: 1em;
    }
    .fc-corner-left {
        margin-left: 5px;
    }
    .fc-button.fc-button-prev,
    .fc-button.fc-button-next{
        padding: 0 3px;
        height: 20px;
    }   
    .fc-event-inner {
        height: 100%;
    }
    .siebui-main-column33 .fc-button.fc-button-prev, 
    .siebui-main-column33 .fc-button.fc-button-next {
        padding: 0;
    }       
    .siebui-main-column33 .fc-button{
        margin-top: 0.8em;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
    }
    .fc-button.fc-button-prev .fc-button-content,
    .fc-button.fc-button-next .fc-button-content{
        display: none;
    }
    .fc-button.fc-button-prev .fc-button-inner{
        background: url(../images/rcnv_prv_1.gif) no-repeat center center;
        height: 20px;
        width: 18px;        
    }
    .fc-button.fc-button-next .fc-button-inner{
        background: url(../images/rcnv_nxt_1.gif) no-repeat center center;
        height: 20px;
        width: 18px;
    }

    .siebui-main-column33 .fc-button.fc-button-prev .fc-button-inner, 
    .siebui-main-column33 .fc-button.fc-button-next .fc-button-inner {
        height:20px;
    }   

    .fc-state-default .fc-button-effect span {
        display: none;  
    }
    .fc-header-right {
        padding-right: 3px!important;
    }
    .fc-header-left {
        padding-left: 3px!important;
    }
    .fc-header-title h2 {
        font-size: 1.2em;
        line-height: 40px;
        margin: 0;
        text-shadow:0 1px 0 #fff;
        min-width: 220px;
    }
    .siebui-main-column33 .fc-header-title h2 {
        font-size: 0.8em;
        line-height: 34px;
    }

    .ui-datepicker-trigger{
        cursor: pointer;
        display: inline-block;
        font-size: 0;
        margin-top: 11px;
        vertical-align: top;
        width: 18px;
        background:url(../images/calPicker_icon.gif) no-repeat center center;
    }
    .siebui-main-column33 .ui-datepicker-trigger,
    .ui-datepicker-trigger {
        margin-top: 1px;
    }

    .cal-ui-agendaDay,
    .cal-ui-agendaWeek,
    .cal-ui-month {
        background: url("../images/calDay_icon.gif") no-repeat scroll center center transparent;
        display: block;
        height: 1.8em;
        width: 9px;
    }   
    .siebui-main-column33 .cal-ui-datepicker,
    .siebui-main-column33 .cal-ui-newEvent,
    .siebui-main-column33 .cal-ui-agendaDay,
    .siebui-main-column33 .cal-ui-agendaWeek,
    .siebui-main-column33 .cal-ui-month,
    .siebui-main-column33 .cal-ui-printCalendar {
        line-height: 20px;
        height: 14px;
        width: 14px;
    }

    .cal-ui-agendaWeek {
        background-image:url(../images/calWeek_icon.gif);
    }
    .cal-ui-month {
        background-image:url(../images/calMonth_icon.gif);
    }
    .cal-ui-printCalendar{
        background: url(../images/icon_quick_print.gif) no-repeat center center;
    }
    #color_legend{
        font-size: 0.9em;
        padding: 2px 3px;
    }
    #color_legend > font{
        border: 1px solid #f7f7f7;
        display: inline-block;
        font-size: 0;
        height: 10px;
        margin: 0 2px 0 4px;
        overflow: hidden;
        vertical-align: middle;
        width: 10px;
    }
    #color_legend > span {
        vertical-align: middle;
    }
    .siebui-main-column33 #color_legend{
        font-size: 0.8em;
        line-height: 16px;
    }
    .siebui-main-column33 #color_legend font {
    }

    /**/

    .fc-agenda .fc-agenda-axis,
    .fc-content {
        background: #fcfcfc;    
    }

    .fc-state-highlight {
        background: #fffde0;
        background: -moz-linear-gradient(top,  #fffde0 0%, #fffece 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffde0), color-stop(100%,#fffece));
        background: -webkit-linear-gradient(top,  #fffde0 0%,#fffece 100%);
        background: -o-linear-gradient(top,  #fffde0 0%,#fffece 100%);
        background: -ms-linear-gradient(top,  #fffde0 0%,#fffece 100%);
        background: linear-gradient(to bottom,  #fffde0 0%,#fffece 100%);
    }
    .fc-border-separate tr.fc-last th, 
    .fc-border-separate tr.fc-last td{
        line-height: 20px;
    }
    .fc-border-separate tr.fc-last th, 
    .fc-border-separate tr.fc-last td,
    .fc-agenda-allday th {
        border-color: #ddd;
    }
    .fc-agenda-allday .fc-day-content {
        min-height: 25px;
    }

    .calendar-NonWorkingHr,
    .calendar-NonWorkingHr-agendaDay{
        background-color:#F4F6F7;
        opacity: 0.7;
    }
    .calendar-WorkingHr,
    .calendar-WorkingHr-agendaDay{
        background-color:#fff;
        opacity: 0.7;
    }
    
    .calendar-NonWorkingHr-agendaWeek{
        background-color:#F4F6F7;
        opacity: 0.6;
    }
    .calendar-WorkingHr-agendaWeek {
        background-color:#fff;
        opacity: 0.4;
    }

    .fc-agenda .fc-agenda-axis {
        color: #555555;
        font-size: 0.9em;
    }
    .fc-agenda table {
        border-collapse: collapse;
    }

    a.fc-event-skin {
        background: #fff;
        overflow: hidden;
    }

    .fc-event-skin {
        border: none;
        background: none;
        border-color: transparent;
        -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
    }
    .fc-view-agendaWeek .fc-event-skin,
    .fc-view-agendaDay .fc-event-skin {
        -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

    }

    .fc-corner-left {
        margin-left: 1px;
    }
    
    .fc-event-hori {
        border-width: 0;
        margin-bottom: 1px;
    }   
    .fc-view-month .fc-event-hori {
        max-height: 27px;
    }

    .fc-grid .fc-day-number {
        background: #eee;
        float: right;
        font-size: 0.9em;
        font-weight: bold;
        padding: 0 4px;
    }

    .fc-grid .fc-other-month .fc-day-number {
        font-weight: normal;
    }

    .fc-event-title {
        padding: 1px 1px 1px 3px;
        color: #333333;

        font-family: 'Source Sans Pro',tahoma;
        font-size: 10px;
        font-weight: 400;       
    }
    .fc-event-title a,
    .fc-event-title img{
        font-size: 10px;

        vertical-align: middle;
        margin-left: 2px;
         text-decoration: none;
    }
    .fc-event-title img{
        opacity: 0.6;
    }

    .fc-button-newContactCall {
        
    }
    .fc-button-newAccountCall {
        
    }
    .fc-button-newMeetingCall {

    }

    .fc-select-helper{
        background: #d3d7f8!important;
        background: rgba(10,0,255,0.4)!important;
    }

    /**/

    #color_square_Acknowledged{
        color: #d3ffd7;     
        background: #d3ffd7;        
    }
    .fc-event-skin.calendar-EventStyle-Acknowledged {   /* light green */
        background: #d3ffd7;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZmZlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2ZmZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #e7ffe9 0%, #d3ffd7 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7ffe9), color-stop(100%,#d3ffd7));
        background: -webkit-linear-gradient(top,  #e7ffe9 0%,#d3ffd7 100%);
        background: -o-linear-gradient(top,  #e7ffe9 0%,#d3ffd7 100%);
        background: -ms-linear-gradient(top,  #e7ffe9 0%,#d3ffd7 100%);
        background: linear-gradient(to bottom,  #e7ffe9 0%,#d3ffd7 100%);
        border-color:#A8FFAF;
    }   

    #color_square_Active{
        color: #d3fff5;
        background: #d3fff5;
    }
    .fc-event-skin.calendar-EventStyle-Active {         /* turquoise */
        background: #d3fff5;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZmZmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2ZmZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #edfffb 0%, #d3fff5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edfffb), color-stop(100%,#d3fff5));
        background: -webkit-linear-gradient(top,  #edfffb 0%,#d3fff5 100%);
        background: -o-linear-gradient(top,  #edfffb 0%,#d3fff5 100%);
        background: -ms-linear-gradient(top,  #edfffb 0%,#d3fff5 100%);
        background: linear-gradient(to bottom,  #edfffb 0%,#d3fff5 100%);
        border-color:#b5f0e3;
    }   

    #color_square_Approved {
        color: #afffb6;     
        background: #afffb6;        
    } 
    .fc-event-skin.calendar-EventStyle-Approved {   /* dark green */
        background: #afffb6;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxZmZjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZmZmYjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #c1ffc6 0%, #afffb6 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1ffc6), color-stop(100%,#afffb6));
        background: -webkit-linear-gradient(top,  #c1ffc6 0%,#afffb6 100%);
        background: -o-linear-gradient(top,  #c1ffc6 0%,#afffb6 100%);
        background: -ms-linear-gradient(top,  #c1ffc6 0%,#afffb6 100%);
        background: linear-gradient(to bottom,  #c1ffc6 0%,#afffb6 100%);
        border-color:#82FF8A;
    }   

    #color_square_Planned{
        color: #f9ffd3;
        background: #f9ffd3;
    }
    .fc-event-skin.calendar-EventStyle-Planned {    /* yellow */
        background: #fcffed;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmZlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWZmZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #fcffed 0%, #f9ffd3 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcffed), color-stop(100%,#f9ffd3));
        background: -webkit-linear-gradient(top,  #fcffed 0%,#f9ffd3 100%);
        background: -o-linear-gradient(top,  #fcffed 0%,#f9ffd3 100%);
        background: -ms-linear-gradient(top,  #fcffed 0%,#f9ffd3 100%);
        background: linear-gradient(to bottom,  #fcffed 0%,#f9ffd3 100%);
        border-color:#e2ebaa;
    }

    #color_square_Scheduled{
        color: #f9e1ff;
        background: #f9e1ff;
    }

    .fc-event-skin.calendar-EventStyle-Scheduled {      /* purple */
        background: #f9e1ff;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZWZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWUxZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #fbefff 0%, #f9e1ff 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbefff), color-stop(100%,#f9e1ff));
        background: -webkit-linear-gradient(top,  #fbefff 0%,#f9e1ff 100%);
        background: -o-linear-gradient(top,  #fbefff 0%,#f9e1ff 100%);
        background: -ms-linear-gradient(top,  #fbefff 0%,#f9e1ff 100%);
        background: linear-gradient(to bottom,  #fbefff 0%,#f9e1ff 100%);
        border-color:#EFB7FF;
    }


    #color_square_Unscheduled{
        color: #e7f3ee;
        background: #e7f3ee;
    }

    .fc-event-skin.calendar-EventStyle-Unscheduled {        /* greyish green */
        background: #fcfffe;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmZmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2YzZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #fcfffe 0%, #e7f3ee 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfffe), color-stop(100%,#e7f3ee));
        background: -webkit-linear-gradient(top,  #fcfffe 0%,#e7f3ee 100%);
        background: -o-linear-gradient(top,  #fcfffe 0%,#e7f3ee 100%);
        background: -ms-linear-gradient(top,  #fcfffe 0%,#e7f3ee 100%);
        background: linear-gradient(to bottom,  #fcfffe 0%,#e7f3ee 100%);
        border-color:#cce0d8;
    }   

    #color_square_Cancelled {
        color: #ffe5e5;     
        background: #ffe5e5;
    } 
    .fc-event-skin.calendar-EventStyle-Cancelled {  /* red */
        background: #f6bebe;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #fff3f3 0%, #ffe5e5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff3f3), color-stop(100%,#ffe5e5));
        background: -webkit-linear-gradient(top,  #fff3f3 0%,#ffe5e5 100%);
        background: -o-linear-gradient(top,  #fff3f3 0%,#ffe5e5 100%);
        background: -ms-linear-gradient(top,  #fff3f3 0%,#ffe5e5 100%);
        background: linear-gradient(to bottom,  #fff3f3 0%,#ffe5e5 100%);
        border-color:#EAB3B2;
    }   


    #color_square_Declined {
        color: #ffd1d5;     
        background: #ffd1d5;
    } 
    .fc-event-skin.calendar-EventStyle-Declined {   /* dark red */
        background: #ffdfe2;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGZlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmQxZDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #ffdfe2 0%, #ffd1d5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdfe2), color-stop(100%,#ffd1d5));
        background: -webkit-linear-gradient(top,  #ffdfe2 0%,#ffd1d5 100%);
        background: -o-linear-gradient(top,  #ffdfe2 0%,#ffd1d5 100%);
        background: -ms-linear-gradient(top,  #ffdfe2 0%,#ffd1d5 100%);
        background: linear-gradient(to bottom,  #ffdfe2 0%,#ffd1d5 100%);
        border-color:#eeadb2;
    }   

    #color_square_Done{
        color: #d9dddb;
        background: #d9dddb;
    }
    .fc-event-skin.calendar-EventStyle-Done{            /* greyish */
        background: #d9dddb;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWRkZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #f4f4f4 1%, #d9dddb 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f4f4f4), color-stop(100%,#d9dddb));
        background: -webkit-linear-gradient(top,  #f4f4f4 1%,#d9dddb 100%);
        background: -o-linear-gradient(top,  #f4f4f4 1%,#d9dddb 100%);
        background: -ms-linear-gradient(top,  #f4f4f4 1%,#d9dddb 100%);
        background: linear-gradient(to bottom,  #f4f4f4 1%,#d9dddb 100%);
        border-color:#bec9c3;
    }

    #color_square_InProgress {
        color: #dff0ff;     
        background: #dff0ff;
    }
    .fc-event-skin.calendar-EventStyle-InProgress { /* dark blue */
        background: #dff0ff;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjhmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmYwZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #f1f8ff 0%, #dff0ff 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f8ff), color-stop(100%,#dff0ff));
        background: -webkit-linear-gradient(top,  #f1f8ff 0%,#dff0ff 100%);
        background: -o-linear-gradient(top,  #f1f8ff 0%,#dff0ff 100%);
        background: -ms-linear-gradient(top,  #f1f8ff 0%,#dff0ff 100%);
        background: linear-gradient(to bottom,  #f1f8ff 0%,#dff0ff 100%);
        border-color:#bad7f0;
    }   
    
    #color_square_NotStarted {
        color: #fff7df;     
        background: #fff7df;
    } 
    .fc-event-skin.calendar-EventStyle-NotStarted { /* yellow-orangy */
        background: #fff7df;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmNmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmY3ZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #fffcf1 0%, #fff7df 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffcf1), color-stop(100%,#fff7df));
        background: -webkit-linear-gradient(top,  #fffcf1 0%,#fff7df 100%);
        background: -o-linear-gradient(top,  #fffcf1 0%,#fff7df 100%);
        background: -ms-linear-gradient(top,  #fffcf1 0%,#fff7df 100%);
        background: linear-gradient(to bottom,  #fffcf1 0%,#fff7df 100%);
        border-color: #efe2bb;
    }   

