/*-------------------------*/
/*Std. HTML Tag Definitions*/
/*-------------------------*/
body,
td,
input,
select,
textarea     {  font-family: Arial,Helvetica,Sans-Serif; font-size: 8pt; }

a            {  color: #6666cc; text-decoration:none; }
a:visited    {  color: #6666cc;  text-decoration:none;}
a:active     {  text-decoration:none; }
a:hover      {  text-decoration:underline; }

/*closes up white-space around form tags in NS*/
FORM    {display:inline;}
/*-------------------------------------------*/
/*  spacer image size for popup labels       */
/*-------------------------------------------*/
IMG.popupLabelSize {width:200px;}

/*------------------------*/
/*  Layout Classes        */
/*------------------------*/
.pad4   {padding:4px 4px 4px 4px;}


/*------------------------*/
/*Special Form Definitions*/
/*------------------------*/
.FormSection        {background-color: #cccccc;}

/*------------------------*/
/* MVG Format Definitions */
/*------------------------*/
.mvgBorder {width:200px;background-color:#999999;}
.mvgBack   {background-color:#ffffff;}

/*----------------------*/
/*globalMenu Definitions*/
/*----------------------*/
TR.globalMenu, TD.globalMenu,
TD.globalMenu A,
TD.globalMenu A:visited,
TD.globalMenu A:hover
{   font-size: 8pt;
    color:#000000;
    background-color: #ccccff;
    font-weight:normal; }

/*----------------*/
/*Screenbar Styles*/
/*----------------*/
.screenbar  {  background:#CDD5EE;  }

/*------------------*/
/*Tier 1 Definitions*/
/*------------------*/
#tier1Selected{}
.tier1Back      {background-color:#adbee4; }
TD.tier1Rule {background-color:#6666cc; }


.tier1On A:visited,
.tier1On A:link,
.tier1On A:hover { font-size: 9pt; font-weight:bold; height:20px; border-color:#ffffff #333399 #ffffff #ffffff; border-style: groove; border-width: 2px 1px 0px 2px; margin: 4px 0px 0px 0px; padding: 0px 4px 0px 4px; background-color:#d6e0f4; color:#333399; text-decoration:none; }

.tier1On A:hover {color:#6666cc;}


.tier1Off A,
.tier1Off A:visited,
.tier1Off A:link,
.tier1Off A:hover{ font-size: 9pt; font-weight:bold; height:20px; border-color:#ffffff #ffffff #ffffff #ffffff; border-style: groove; border-width: 2px 1px 0px 2px; margin:4px 0px 0px 0px; padding: 0px 4px 0px 4px; background-color:#333399; color:#ffffff; text-decoration:none; }

.tier1Off A:hover {background-color:#ccd9ee;color:#003399;}

/*-----------------*/
/*Tier2 Definitions*/
/*-----------------*/
#tier2Selected{}
.tier2Back      {background-color:#d7e1f5;  }
TD.tier2Rule {background-color:#6666cc; }

TR.tier2On, TD.tier2On,
TD.tier2on A,
TD.tier2on A:visited,
TD.tier2on A:hover
{   font-size: 9pt;
    color:#000000;
    background-color: #ccccff;
    font-weight:bold;
    text-decoration:none;
}

TD.tier2On A:hover {    color:#6666cc;  }

TR.tier2Off,
TD.tier2Off,
TD.tier2Off A,
TD.tier2Off A:visited,
TD.tier2Off A:hover
{   font-size: 9pt;
    background-color:#ccccff;
    text-decoration:none;
    font-weight:bold;       }

TD.tier2Off A:hover {   color:#ccccff;  }

/*--------------*/
/*Toolbar Styles*/
/*--------------*/
.toolbar         {  background:#e0dfe3  }

/*--------------*/
/*  ERM toolbar */
/*--------------*/

TR.ermTier2On, TD.ermTier2On,
TD.ermTier2OnNormal
{   font-size: 9pt;
    color:#000000;
    text-decoration:none;
    background-color: #ccccff;
    font-weight:bold;   }

TD.ermTier2On A,
TD.ermTier2On A:visited,
TD.ermTier2On A:hover
{   font-size: 9pt;
    color:#6666cc;
    background-color: #ccccff;
    font-weight:bold;
    text-decoration:none;}

TD.ermTier2On A:hover
{   text-decoration:underline;}


/*--------------*/
/* Threadbar    */
/*--------------*/
.threadbar { color:#000000; }
.threadbar A,
.threadbar A:link,
.threadbar A:visited,
.threadbar A:hover { color:#123783; }
.threadbardiv {color:#123783;}
.threadbarBack { background:#adbee4; }

/*--------*/
/* Tier 3 */
/*--------*/
#tier3Selected  {}
.tier3Back  {background-color:#d6e0f4;}
.tier3Div   {text-align:left; }

TD.tier3Rule    {background-color:#e6e6e6; }

.tier3on { background-color:#d6d6ee; font-size: 9pt; font-weight:bold;}
.tier3on A,
.tier3on A:visited,
.tier3on A:hover
{ font-size: 8pt; font-weight:bold; height:19px; border-color:#ffffff #333399 #ffffff #ffffff; border-style: groove groove groove groove; border-width: 2px 1px 0px 2px; padding: 2px 8px 2px 8px; background-color:#ffffff; color:#333399; text-decoration:none; width:100%;}
.tier3On A:hover {color:#6666cc;}

.tier3Off { background-color:#6666cc; font-size: 9pt; font-weight:bold;}
.tier3Off A,
.tier3Off A:visited,
.tier3Off A:hover
{ font-size: 8pt; font-weight:normal; height:19px; border-color:#ffffff #ffffff #ffffff #ffffff; border-style: groove groove groove groove; border-width: 2px 1px 0px 2px; padding: 0px 4px 0px 4px; background-color:#4667b4; color:#ffffff; text-decoration:none; width:100%; }
.tier3Off A:hover {background-color:#ccd9ee;color:#003399;}


/*----------------*/
/*List Definitions*/
/*----------------*/
.Row                { background-color: #ffffff; border-bottom: 1px solid #c0c0c0; border-top: 0px; border-left: 0px; border-right: 0px; }
.RowCenter          { background-color: #f0f0f0; text-align:center; }
.RowRight           { background-color: #f0f0f0; text-align:right; }
.RowChevron         { border-bottom: 1px solid #c0c0c0; border-right: 1px solid #c6c6c6; border-top: 0px; border-left: 0px; }

TR.listRowOff       TD.Row  { background-color: #ffffff;}
TR.listRowOn        TD.Row  { background-color: #efef99;}
TR.listRowError     TD.Row  { background-color: #ffffcc;}
TR.listRowEven      TD.Row  { background-color: #ffffff;}
TR.listRowOdd       TD.Row  { background-color: #ffffff;}

.ListBorder         { background-color:#cccccc; }

.Header,
TH.Header TD        { background-color: #d3d1d1; color: #000000; font-weight: bold; font-size:8pt; text-align:left; }
TH.Header           { background-color: #d3d1d1; color: #000000; font-weight: bold; font-size:8pt; text-align:left; border-right: 1px solid #f0f0f0; border-top: 0px; border-left: 0px; border-bottom: 0px; }

.Header TABLE       { }

.Header A,
.Header A:visited   { text-decoration: none;color: #000000;}
.Header A:hover     { text-decoration: none;color: #333399;}


/*----------*/
/*Login Page*/
/*----------*/
.loginTop           {background-color:#d7d4ef}
.loginMid           {background-color:#6666cc}
.loginBtm           {background-color:#333399}

.loginAppTitle      {font-size:14pt; font-weight:bold; color:#ffffff; }
.loginError         {font-weight:bold; color:#ffff33; }

.loginCopy          {font-size:8pt; color:#9999cc; margin:10px;}
.loginCopy A,.loginCopy A:link,.loginCopy A:visited,.loginCopy A:hover
{color:#ffffff; white-space:nowrap;}
.loginCopy A:hover
{text-decoration:underline;}

.loginForm          {font-size:9pt; color:#ffffff}
.loginBody          {background-color:#6666cc}

.loginText,.loginText A,.loginText A:link,.loginText A:visited
{color:#ffffff; font-size:8pt;}

.loginLabel,.loginLabel A, .loginLabel A:link, .loginLabel A:visited
{color:#ffffff; font-size:9pt; font-weight:bold; }

.loginField INPUT   {width:150px;}


/*------------------*/
/*Banner Definitions*/
/*------------------*/
.bannerHI               { background-color: #ccccff; }
.banner,
.bannerHybrid         { background-color: #333399; }
.bannerHybrid .banner { background-color: #333399; }
.bannerHI,
.banner,
TD.banner TD A,
TD.banner TD A:visited,
TD.banner TD A:hover { color: #000000; text-decoration:none; font-weight:bold;}
TD.banner TD A:hover {color:#333399;}
.bannerDiv  { font-size:12pt;color:#999966; }
.bannerDiv2 {background-color:#ffffff}
.bannerDiv3 {background-color:#333399}
.bannerScreenHomepage { background-image:url("../images/view_banner_fade_d.gif"); background-repeat : repeat-y; }

.applicationMenu        {  background:#123783;  }
.applicationMenu OPTION {  background-color: #dedede; }
.applicationMenu SELECT {  width:100px; }
.applicationMenuFade    {  background-image:url("../images/appmenu_fade_d.gif"); background-repeat : repeat-y;  }
.poweredBy              {  background:#ADBEE4  }

#MsgLayer
{ font-weight:normal; }
.Message
{ width:98%; font-weight:bold; color:#ffffff; border-top:1px solid #333399;border-left:1px solid #333399;border-bottom:1px solid #ffffff; border-right:1px solid #ffffff;}


/*----------------------------*/
/*HTML Mini-Button Definitions*/
/*----------------------------*/
.minibutton         {}

.minibuttonHighlight,
.minibuttonOn       {   font-size: 8pt; color: black; text-decoration:none; }

.minibuttonHighlight A,
.minibuttonHighlight A:link,
.minibuttonHighlight A:visited,
.minibuttonHighlight A:hover,
.minibuttonOn A,
.minibuttonOn A:link,
.minibuttonOn A:visited,
.minibuttonOn A:hover
{padding:0px 5px 0px 5px; color:#000000; border-width:1px; border-style:solid; border-color:#666666; background-color:#DEDEDE; text-decoration:none; height:16px;}

.minibuttonHighlight A,
.minibuttonHighlight A:link,
.minibuttonHighlight A:visited,
.minibuttonHighlight A:hover
{background-color:#ffffcc;}

.minibuttonHighlight A:hover,
.minibuttonOn A:hover
{border-color:#000000;background-color:#ffffff;}

.minibuttonOff
{font-size:8pt; padding:0px 5px 0px 5px; color:#9D9DA1; border-width:1px; border-style:solid; border-color:#C4C3BF; background-color:#F1F1ED; height:16px;}

/*-----------------------*/
/*SmartScript Definitions*/
/*-----------------------*/
.smartDialog {  background-color:#f0f0f0;   font-weight:bold;   }

.questLabel
{ color:#000000; text-align:left;  font-weight : bold; text-decoration : none; margin: 2px 0px 0px 0px; }

.ssminibuttonOn
{font-size: 8pt; padding:0px 5px 0px 5px; color:#000000; border-width:1px;border-style:solid; border-color:#666666; background-color:#DEDEDE; text-decoration:none; height:16px;}
.ssminibuttonOn A,
.ssminibuttonOn A:link,
.ssminibuttonOn A:visited,
.ssminibuttonOn A:hover
{color:#000000; background-color:#DEDEDE; text-decoration:none; }
.ssminibuttonOn A:hover
{border-color:#000000; background-color:#ffffff;}

/*-------------------------*/
/*Search Applet Definitions*/
/*-------------------------*/
.SrchCntrTitle {font-size:10pt;font-weight:bold}




/*-------------------------------------*/
/*Single-Column (sc) Form Mode*/
/*-------------------------------------*/
.scLabel,
.scLabel A,
.scLabel A:visited,
.scLabel A:hover
{ color:#000000; text-align:left;  font-weight : bold; text-decoration : none; margin: 2px 0px 0px 0px; }

.scLabelRight,
.scLabelRight A,
.scLabelRight A:visited,
.scLabelRight A:hover
{   color:#000000;  text-align:right; font-weight : bold; text-decoration : none;   }

.scField
{ color:#000000; font-weight:normal; font-size:9pt; }

.scField INPUT,
.scField TEXTAREA,
.scField SELECT
{}


/*-------------------------------------*/
/*Multi-Column Editable (mce) Form Mode*/
/*-------------------------------------*/
.mceButtons     {   background-color : #6666cc; }
.mceBorder      {   background-color : #6666cc; }
.mceBack        {   background-color : #ffffff; }
.mceBlank       {    }

.mceTitle     {
background-color:#6666cc;
color : #ffffff;
font-weight:bold;
font-size:10pt;
}

.mceLabel,
.mceLabel A,
.mceLabel A:visited,
.mceLabel A:hover {
color:#000000;
vertical-align : middle;
font-weight : normal;
text-align: right;
text-decoration : none;
margin: 2px 0px 0px 0px;
}

.mceLabel2,
.mceLabel2 A,
.mceLabel2 A:visited,
.mceLabel2 A:hover {
color:#000000;
vertical-align : middle;
font-weight : normal;
text-align: right;
text-decoration : none;
}

.mceFieldFormat{
color:#666666;
font-weight:normal;
font-size:7pt;
}



.mceReadOnly
{   color:#000000;  font-weight:normal; font-size:9pt;  }

.mceReadOnlyTextArea
{
padding-top:5px;
overflow-y: auto;
}

Table.mceWideFields Select,
Table.mceWideFields TextArea,
Table.mceWideFields Input,
TD.mceWideFields Select,
TD.mceWideFields TextArea,
TD.mceWideFields Input
{   width:95%;  }

.mceWideFields INPUT[type="checkbox"]
{ width:auto;}

.mceWideFields INPUT[type="radio"]
{ width:auto;}

/*------------------------------*/
/*  Rich Text Component Classes */
/*------------------------------*/
.rtcEmbedded {font-family:arial; font-size:8pt;  border:1px solid #cccccc; width:600px; height:138px; border-bottom : 4px solid #ccccff; }
.rtcPopup   {font-family:arial; font-size:8pt;  border:1px solid #cccccc; width:600px; height:138px; border-bottom : 4px solid #ccccff; }
.rtcReadOnly    {font-family:arial; font-size:8pt;  border:1px solid #cccccc; width:600px; height:138px; border-bottom : 4px solid #cccccc;}
.rtcTextarea    {font-family:arial; font-size:8pt;  border:1px solid #cccccc; width:600px; height:138px; border-bottom : 4px solid #cccccc;}





/*-----------------------*/
/*   Layout Styles       */
/*-----------------------*/
.LayoutButtonOn     {background-color:#009900}
.LayoutButtonOff    {background-color:#999999}

.LayoutView                      {  background-color : #ffffff; color:#ffffff; }
.LayoutView  .AppletButtons      {  background-color : #333399; color:#ffffff; }
.LayoutView  .AppletBorder       {  background-color : #333399; }
.LayoutView  .AppletBack         {  background-color : #ffffff; }
.LayoutView  .AppletBlank        {  background-color : #ffffff; }
.LayoutView  .AppletTitle        {  background-color:#333399;   color : #ffffff; font-weight:bold; font-size:10pt; text-decoration:none;}

.LayoutStyleHide                 { background-color:#f0f0f0; color:#f0f0f0; }
.LayoutStyleHide .AppletButtons  { background-color:#cccccc; color:#f0f0f0; }
.LayoutStyleHide .AppletBorder   { background-color:#cccccc; }
.LayoutStyleHide .AppletBack     { background-color:#f0f0f0; }
.LayoutStyleHide .AppletBlank    { background-color:#ffffff; }
.LayoutStyleHide .AppletTitle    { background-color:#cccccc; color:#666666; font-weight:bold; font-size:10pt; text-decoration:none;}

.LayoutStyleMax                  { background-color:#f0f0f0; color:#f0f0f0; }
.LayoutStyleMax .AppletButtons   { background-color:#333399; color:#f0f0f0; }
.LayoutStyleMax .AppletBorder    { background-color:#333399; }
.LayoutStyleMax .AppletBack      { background-color:#f0f0f0; }
.LayoutStyleMax .AppletBlank     { background-color:#ffffff; }
.LayoutStyleMax .AppletTitle     { background-color:#333399; color:#ffffff; font-weight:bold; font-size:10pt; text-decoration:none;}

.LayoutStyleMin                  { background-color:#f0f0f0; color:#f0f0f0; }
.LayoutStyleMin .AppletButtons   { background-color:#ccccff; color:#f0f0f0; }
.LayoutStyleMin .AppletBorder    { background-color:#ccccff; }
.LayoutStyleMin .AppletBack      { background-color:#f0f0f0; }
.LayoutStyleMin .AppletBlank     { background-color:#ffffff; }
.LayoutStyleMin .AppletTitle     { background-color:#ccccff; color:#333399; font-weight:bold; font-size:10pt; text-decoration:none;}


/*-------------------*/
/*Applet Styles      */
/*-------------------*/

/*-------------------*/
/*Applet Styles      */
/*-------------------*/

/*Applet Pointer*/
.AppletBottomPntr                   {position:relative; top:-2px; }
.NotSelected .AppletBottomPntr  .AppletButtons  {background-color:#cccccc }
.NotSelected  TD.AppletHIListBorder             {border-style: solid; border-color: #cccccc; border-width: 0px 2px 2px 2px; }
.NotSelected  DIV.AppletHIListBorder            {border-style: solid; border-color: #cccccc; border-width: 0px 2px 2px 2px; }
.NotSelected  TD.AppletHIFormBorder             {border-style: solid; border-color: #cccccc; border-width: 2px 2px 2px 2px; }
.NotSelected  DIV.AppletHIFormBorder            {border-style: solid; border-color: #cccccc; border-width: 2px 2px 2px 2px; }

/*Applet Select*/
.Selected  TD.AppletHIListBorder            {   border-style: solid; border-color: #333399; border-width: 0px 2px 2px 2px; }
.Selected  DIV.AppletHIListBorder           {   border-style: solid; border-color: #333399; border-width: 0px 2px 2px 2px; }
.Selected  TD.AppletHIFormBorder            {   border-style: solid; border-color: #333399; border-width: 2px 2px 2px 2px; }
.Selected  DIV.AppletHIFormBorder           {   border-style: solid; border-color: #333399; border-width: 2px 2px 2px 2px; }
.Selected  .AppletBottomPntr .AppletButtons {   background-color:#333399;       }
.Selected  TR.AppletButtons                 {   background-color:#333399; color:#ffffff;        }
.Selected  TR.AppletButtons TD.AppletTitle,
.Selected  TR.AppletButtons TD.AppletTitle A,
.Selected  TR.AppletButtons TD.AppletTitle A:link,
.Selected  TR.AppletButtons TD.AppletTitle A:visited,
.Selected  TR.AppletButtons TD.AppletTitle A:hover  {   background-color:#333399; color:#ffffff;    }

/*Parent Applet Style*/
.AppletStyle1                   {   background-color : #ffffff; color:#ffffff; }
.AppletStyle1 .AppletButtons    {   background-color : #d3d1d1; color:#ffffff; }
.AppletStyle1 .AppletBorder     {   background-color : #d7e1f5; }
.AppletStyle1 .AppletHIFormBorder   {   border : 2px solid #cccccc; }
.AppletStyle1 .AppletHIListBorder   {   border : 2px solid #cccccc; }
.AppletStyle1 .AppletBlank      {   background-color : #ffffff; }
.AppletStyle1 .AppletBack       {   background-color : #f0f0f0;      }
.AppletStyle1 .AppletTD1    {   color:#000000; font-weight:bold; font-size:10pt; }

.AppletStyle1 .AppletTitle,
.AppletStyle1 TD.AppletTitle A,
.AppletStyle1 TD.AppletTitle A:link,
.AppletStyle1 TD.AppletTitle A:visited,
.AppletStyle1 TD.AppletTitle A:hover
{ background-color:#d7e1f5; color : #003399; font-weight:bold; font-size:10pt; text-decoration:none;}

.AppletStyle1 TD.AppletTitle A:hover
{ text-decoration:underline; }

/*Search Center Applet Style*/
.AppletStyle2                   {   background-color : #ffffff; color:#000000; }
.AppletStyle2 .AppletButtons    {   background-color : #ffffff; color:#000000; }
.AppletStyle2 .AppletBorder     {   background-color : #ffffff; }
.AppletStyle2 .AppletHIFormBorder   {   border : 2px solid #cccccc; }
.AppletStyle2 .AppletHIListBorder   {   border : 2px solid #cccccc; }
.AppletStyle2 .AppletBlank      {   background-color : #ffffff; }
.AppletStyle2 .AppletBack       {   background-color : #ffffff; }

.AppletStyle2 .AppletTitle
{background-color:#6666cc; color : #ffffff;font-weight:bold;font-size:10pt;}


/*Child Applet Style*/
.AppletStyle3                   {   background-color : #ffffff; }

.AppletStyle3 .AppletButtons    {   background-color : #d3d1d1; color:#000000;  }
.AppletStyle3 .AppletBorder     {   background-color : #d7e1f5; }
.AppletStyle3 .AppletHIFormBorder   {   border : 2px solid #cccccc; }
.AppletStyle3 .AppletHIListBorder   {   border : 2px solid #cccccc; }
.AppletStyle3 .AppletBack       {   background-color : #f0f0f0; }
.AppletStyle3 .AppletBlank      {   background-color : #ffffff; }
.AppletStyle3 .AppletBack       {   background-color : #f0f0f0;     }

.AppletStyle3 .AppletTitle
{background-color:#d7e1f5; color : #003399; font-weight:bold; font-size:12pt; }

/*Reserved Applet Style*/
.AppletStyle4                   {   background-color : #ffffff; }
.AppletStyle4 .AppletButtons    {   background-color : #d3d1d1; color:#000000;  }
.AppletStyle4 .AppletBorder     {   background-color : #d7e1f5; }
.AppletStyle4 .AppletHIFormBorder   {   border : 2px solid #cccccc; }
.AppletStyle4 .AppletHIListBorder   {   border : 2px solid #cccccc; }
.AppletStyle4 .AppletBlank      {    background-color : #ffffff;}
.AppletStyle4 .AppletBack       {   background-color : #ffffff;      }

.AppletStyle4 .AppletTitle
{ background-color:#d7e1f5; color : #003399; font-weight:bold; font-size:10pt; text-decoration:none;}

.AppletStyle5                   {   background-color : #ffffff; }
.AppletStyle5Bound              {    text-align:right; width:90%; background-color : #ccccff; }
.AppletStyle5 .AppletButtons    {   background-color : #d3d1d1; color:#000000; }
.AppletStyle5 .AppletBorder     {   background-color : #d7e1f5; }
.AppletStyle5 .AppletHIFormBorder   {   border : 2px solid #cccccc; }
.AppletStyle5 .AppletHIListBorder   {   border : 2px solid #cccccc; }
.AppletStyle5 .AppletBlank      {    background-color : #ffffff;}
.AppletStyle5 .AppletBack       {   background-color : #ffffff;      }

.AppletStyle5 .AppletTitle,
.AppletStyle5 .AppletTitle A,
.AppletStyle5 .AppletTitle A:Visited
{ background-color:#d7e1f5; color:#003399; font-weight:bold; font-size:10pt; text-decoration:none;}

/*Reserved Applet Style*/
.AppletStyle6                   {    background-color : #ffffff; }
.AppletStyle6Bound              {    width:90%; background-color : #ccccff; }
.AppletStyle6 .AppletButtons    {   background-color : #ccccff; }
.AppletStyle6 .AppletBorder     {   background-color : #ccccff; }
.AppletStyle6 .AppletHIFormBorder   {   border : 2px solid #cccccc; }
.AppletStyle6 .AppletHIListBorder   {   border : 2px solid #cccccc; }
.AppletStyle6 .AppletBlank      {   background-color : #ffffff; }
.AppletStyle6 .AppletBack       {   background-color : #ffffff;      }

.AppletStyle6 .AppletTitle
{background-color:#ffffff;  color : #333399; font-weight:bold; font-size:10pt; }


/*Grandchild Applet Style*/
.AppletStyle7                   {   background-color : #ffffff; }
.AppletStyle7 .AppletButtons    {   background-color : #d3d1d1; color:#000000; }
.AppletStyle7 .AppletBorder     {   background-color : #d7e1f5; }
.AppletStyle7 .AppletHIFormBorder   {   border : 2px solid #cccccc; }
.AppletStyle7 .AppletHIListBorder   {   border : 2px solid #cccccc; }
.AppletStyle7 .AppletBlank      {   background-color : #ffffff; }
.AppletStyle7 .AppletBack       {   background-color : #f0f0f0;     }

.AppletStyle7 .AppletTitle
{ background-color:#d7e1f5; color : #003399; font-weight:bold; font-size:10pt; }

/*Portal Graphical Applet Style*/
.AppletStyle8                   {   background-color : #ffffff; color:#ffffff; }
.AppletStyle8 .AppletButtons    {   background-color : #ffffff; color:#000000; }
.AppletStyle8 .AppletBorder     {   background-color : #6666cc; }
.AppletStyle8 .AppletHIFormBorder   {   border : 2px solid #cccccc; }
.AppletStyle8 .AppletHIListBorder   {   border : 2px solid #cccccc; }
.AppletStyle8 .AppletBlank      {   background-color : #ffffff; }
.AppletStyle8 .AppletBack       {   background-color : #f0f0f0;      }

.AppletStyle8 .AppletTitle,
.AppletStyle8 TD.AppletTitle A,
.AppletStyle8 TD.AppletTitle A:link,
.AppletStyle8 TD.AppletTitle A:visited,
.AppletStyle8 TD.AppletTitle A:hover
{ color : #333399; font-weight:bold;  font-size:10pt; text-decoration:none;}

.AppletStyle8 TD.AppletTitle A:hover
{ text-decoration:underline; }

/* 7.7 Parent Applet Style */
.AppletStyleParent77            {background-color : #ffffff; }
.AppletStyleParent77 .AppletButtons {background-color : #ffffff; color:#000000; }
.AppletStyleParent77 .AppletBorder  {background-color : #ccccff; }
.AppletStyleParent77 .AppletHIFormBorder {border-style: solid; border-color: #cccccc; border-width: 2px 2px 2px 2px;}
.AppletStyleParent77 .AppletHIListBorder {border-style: solid; border-color: #cccccc; border-width: 0px 2px 2px 2px;}
.AppletStyleParent77 .AppletBlank   {background-color : #ffffff; }
.AppletStyleParent77 .AppletBack    {background-color : #e5e5e5; }
.AppletStyleParent77 .AppletTitle   {background-color:#ffffff; color : #999999; font-weight:bold; font-size:11pt; }
.AppletStyleParent77 .AppletMenu OPTION {   background-color : #dedede; }

/* 7.7 Child Applet Style */
.AppletStyleChild77         {background-color : #ffffff; }
.AppletStyleChild77 .AppletButtons  {background-color : #ffffff; color:#000000; }
.AppletStyleChild77 .AppletBorder   {background-color : #ccccff; }
.AppletStyleChild77 .AppletHIFormBorder {border-style: solid; border-color: #cccccc; border-width: 2px 2px 2px 2px;}
.AppletStyleChild77 .AppletHIListBorder {border-style: solid; border-color: #cccccc; border-width: 0px 2px 2px 2px;}
.AppletStyleChild77 .AppletBlank    {background-color : #ffffff; }
.AppletStyleChild77 .AppletBack     {background-color : #e5e5e5; }
.AppletStyleChild77 .AppletTitle    {background-color:#ffffff; color : #999999; font-weight:bold; font-size:11pt; }
.AppletStyleChild77 .AppletMenu OPTION {   background-color : #dedede; }

/* Popup Applet Style */
.AppletStylePopup                         {  background-color : #ffffff;  }
.AppletStylePopup .AppletButtons          {  background-color : #333399; color:#FFFFFF; }
.AppletStylePopup .AppletBorder           {  background-color : #333399; }
.AppletStylePopup .AppletBlank            {  background-color : #333399; }
.AppletStylePopup .AppletBack             {  background-color : #f0f0f0; }
.AppletStylePopup .AppletTitle            {  background-color : #333399; color : #FFFFFF; font-weight:bold; font-size:11pt; }
.AppletStylePopup .AppletBttm             {  background-color : #DEDEDE; }
.AppletStylePopup .AppletTD1              {  background-color : #dedede; color : #000000; }
.AppletStylePopup .AppletTD2              {  color : #000000; font-weight : bold; font-size:10pt; }
.AppletStylePopup .AppletTD3              {  color : #000000; }

/*--------------------*/
/*Calendar Definitions*/
/*--------------------*/
.calendarBorder             {background-color:#cccccc;}
.calendarActivityBorder     {background-color:#f0f0f0;}
.calendarActivityBack       {background-color:#f0f0f0;}
.calendarActivity           {background-color:#ffffff;}
.calendarMultiDayActivity   {background-color:#ffffcc;}
.calendarInterval
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #cccccc 1px;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #f0f0f0
}
.calendarDayBar             {background-color:#cccccc;}
.calendarDay                {background-color:#f0f0f0;}

.calendarTileEmpty
{   BORDER-RIGHT: #cccccc 1px;
    BORDER-TOP: #ffffe6 1px solid;
    BORDER-LEFT: #cccccc 1px;
    BORDER-BOTTOM: #ffffe6 1px solid;
    BACKGROUND-COLOR: #d9d9d9
}
.calendarBusHrsTileEmpty
{   BORDER-RIGHT: #cccccc 1px;
    BORDER-TOP: #ffffe6 1px solid;
    BORDER-LEFT: #cccccc 1px;
    BORDER-BOTTOM: #ffffe6 1px solid;
    BACKGROUND-COLOR: #eeeeee
}
.calendarTileSolid
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px;
    BACKGROUND-COLOR: white
}
.calendarTileSolidTop
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: #cccccc 1px;
    BACKGROUND-COLOR: white
}
.calendarTileSolidBottom
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: #cccccc 1px;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: white
}
.calendarTileSolidTopBottom
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: white
}
.calendarBorder2            {   BACKGROUND-COLOR: #cccccc; COLOR: #000000; FONT-SIZE: 10pt; FONT-WEIGHT: bold}
.calendarTitle              {   BACKGROUND-COLOR: #cccc99; COLOR: #000000; FONT-SIZE: 10pt; FONT-WEIGHT: bold}
.calendarLabel              {   BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-ALIGN: right}
.calendarField              {   BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: normal}
.calendarBlank              {   BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold}
.calendarHeader             {   BACKGROUND-COLOR: #cccc99; COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold}
.calendarRow                {   BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: normal}
.calendarSelect             {   COLOR: #000000; FONT-SIZE: 9pt; FONT-WEIGHT: normal}
.calendarDayBarDark,.calendarDayBarDark A,.calendarDayBarDark A:link,.calendarDayBarDark A:visited
                            {   background-color:#000099; color:#ffffff; }
.calendarIntervalDark,.calendarIntervalDark A,.calendarIntervalDark A:link,.calendarIntervalDark A:visited
                            {   background-color:#000099; color:#ffffff;  }

/*----------------------*/
/*Service Calendar Style*/
/*----------------------*/
.ServiceCalRow                  {background-color:#ffffff;}
.calendarServiceBorder          {background-color:#cccccc;}
.calendarServiceActivityOn      {background-color:#99cccc;}
.calendarServiceActivityOff     {background-color:#ffffff;}
.calendarServiceInterval        {background-color:#f0f0f0; color:#000000; font-weight:bold; font-size:8pt;}

/*----------------------*/
/*HI Calendar GanttChart*/
/*----------------------*/
.GCcurrentappoinment {background-color:#f1e87d; height:15px; width:20px; border:2px solid black;}
.GCworkinghours {background-color:#ffffff; height:15px; width:20px; border:2px solid black;}
.GCnonworkinghours {background-color:#bbbbbb; height:15px; width:20px; border:2px solid black;}
.GCconfirmedappoinments {background-color:#6699cc; height:15px; width:20px; border:2px solid black;}
.GCnotavailableschedule {background-color:#79b67e; height:15px; width:20px; border:2px solid black;}
.GClsaccallpid {background-color:#3366cc; height:15px; width:20px; border:2px solid black;}
.GClsaccallpms {background-color:#7eb679; height:15px; width:20px; border:2px solid black;}
.GClsaccallprepms {background-color:#99ff99; height:15px; width:20px; border:2px solid black;}
.GClsaccallother {background-color:#999999; height:15px; width:20px; border:2px solid black;}
.GClsaccallnormal {background-color:#cc3333; height:15px; width:20px; border:2px solid black;}


/*-----------------*/
/*Tree Style*/
/*-----------------*/

.treeBack {}
.treeInactive {}

.treeActive,
.treeActive A,
.treeActive A:link,
.treeActive A:visited
 {  background-color : #efef99; color:#000000;  }



/*----------------------*/
/* Dot-Com Definitions  */
/*----------------------*/

.dCCItemTitle {font-size:10pt; font-weight:bold;}
.dCCItemLabel {color:#000000;font-size:8pt; font-weight:bold; vertical-align:middle; text-align:right;}
.dCCItemLabelLeft {color:#000000;font-size:8pt; font-weight:bold; }
.dCCItemValue {font-size:8pt; vertical-align:middle; height:24px; }
.dCCItemValue150 {font-size:8pt; width:150px}

.dCCTab {background-color:#e6e6e6;}

.dCCAppletRule1 {background-color:#6666cc;}
.dCCAppletShade1    {background-color:#e6e6e6;}
.dCCAppletBorder1   {background-color:#6666cc;}

.dCCAppletTitle ,
.dCCAppletTitle A,
.dCCAppletTitle A:visited,
.dCCAppletTitle A:hover   {
font-family: "Arial Narrow",Arial,Helvetica,Sans-Serif;
color : #6666cc;
font-weight:bold;
font-size:12pt;
}

/*---------------------*/
/*Dashboard Definitions*/
/*---------------------*/
.dashbrdBorder {background-color:#999999;}
.dashbrdBack {background-color:#f0f0f0;}


/*---------------------*/
/*Site Map Definitions */
/*---------------------*/
.screenName1    {font-size:9pt; font-weight:bold;}
.screenName2    {font-size:11pt; font-weight:bold;}
.viewName       {font-size:8pt;}
.fader          {background-color:#ccccff}

/*-----------------------------*/
/*Table of Contents Definitions*/
/*-----------------------------*/
.TOCRule    {color:#9ea965 }
.TOCTitle   {font-weight:bold; color:#9ea965}

/*-----------------------------*/
/*Page Header Definitions*/
/*-----------------------------*/
.PageHeader {font-family:"arial narrow", arial, helvetica, sans-serif;font-size:18pt;font-weight:bold;color:#9ea965;}
.PageRule   {color:#9ea965;}


/*-----------------*/
/*Misc. Definitions*/
/*-----------------*/
.Required       { color: #cc0000;   font-weight : bold; font-size : 13pt; }
.Welcome        { font-weight: bold; font-size: 9pt;}
.CmdTxt         { color:#000000; font-weight: bold; font-size: 10pt; }
.CmdTxtNormal   { color:#000000; font-weight: normal; font-size: 10pt; }
.error          { color: #cc0000;   }
.Border1        { background-color:#333399; }
.divider        {   border-left:    1px solid #ffffff; border-top:  1px solid #ffffff; border-right:    1px solid #6666cc; border-bottom:   1px solid #6666cc;  }
.RealTimeCart   {   background-color:#d7e1f5    }




/*----------------------*/
/*External Content (EC) */
/*----------------------*/

/*EC:News*/
.NewsTable              {}
.NewsCompanyName    A   { font-weight:bold; font-size:10pt; }
.NewsTimeStamp          {}
.NewsBullet             { list-style : Square ;  }
.NewsHeadline           {}
.NewsSource             { font-style:italic }
.NewsSummary            {}
.NewsTotalStories       {}
.NewsPageControl        {}
.NewsColumnLogo         {}
.NewsLegalCopyRight     {}

/*EC: Stock Detail*/
.SqDetName              {background-color: #ffffff;font-weight:bold; text-align:right;  margin: 0px 5px 0px 5px; white-space : nowrap; }
.SqDetValue             {background-color: #ffffff;font-weight:normal;}
.SqDetChangePlus        {background-color: #ffffff;color:green}
.SqDetChangeMinus       {background-color: #ffffff;color:red}
.SqDetChangeZero        {background-color: #ffffff;color:black}

/*EC: Stock Summary*/
.SqSummTick         {   background-color: #ffffff; text-align:left;             }
.SqSummValue        {   background-color: #ffffff; font-weight:bold; text-align:left;       }
.SqSummChangePlus   {   background-color: #ffffff; color:green; text-align:left;        }
.SqSummChangeMinus  {   background-color: #ffffff; color:red; text-align:left;          }
.SqSummChangeZero   {   background-color: #ffffff; color:black; text-align:left;        }
.SqSummHeader       {   background-color: #f0f0f0; border-top: 1px solid #cccccc; border-left: 1px solid #cccccc; color: #000000; font-weight: bold;    }
.SqCopyright        {   background-color: #ffffff;                      }

/*EC: Stock Lookup*/
.SqLookTick         {font-weight:bold}
.SqLookComp         {font-weight:bold}
.SqLookNull         {font-size:10pt}


/*--------------------------------------*/
/*   ISS - eConfigurator Definitions    */
/*--------------------------------------*/

 .eCfgOptionAvailable { color:black}
 .eCfgOptionExcluded {color:red}
 .eCfgRadioAvailable { color:black}
 .eCfgRadioExcluded {color:red}
 .eCfgSpanAvailable { color:black}
 .eCfgSpanExcluded {color:red}
 .eCfgSpanSelected {}
 .eCfgSpanWarning {color:red}

 .eCfgProductTitle {font-size:14pt; font-weight:bold;}
 .eCfgAuxText {color:#333399}

 .eCfgContent {position:absolute;top:-100000px;left:-100000px;visibility:hidden;z-index:4}
 .eCfgdCCSection0 {background-color:#d6d6ee; font-size:10pt; font-weight:bold; color:#000000;border-left: 1px solid #808080; border-top: 1px solid #808080}
 .eCfgdCCSection0if {background-color:#d6d6ee; font-size:10pt; font-weight:bold; color:#000000;border: 1px solid #808080; border-right: none}
 .eCfgdCCSection1 {background-color:#d6d6ee; font-size:10pt; font-weight:bold; color:#000000; border: 1px solid #808080; border-left: none}
 .eCfgdCCSection2 {background-color:#d6d6ee; font-size:10pt; font-weight:bold; color:#000000; border-left: 1px solid #808080; border-bottom: 1px solid #808080}

 .eCfgDivStyle {position:absolute;top:-100000px;left:-100000px;visibility:hidden;z-index:2}
 .eCfgSectionTitle0 {background-color:#d6d6ee; font-size:10pt; font-weight:bold; color:#000000; border-left: 1px solid #808080; border-top: 1px solid #808080}
 .eCfgSectionTitle0if {background-color:#d6d6ee; font-size:10pt; font-weight:bold; color:#000000; border: 1px solid #808080; border-right: none}
 .eCfgSectionTitle1 {background-color:#d6d6ee; font-size:10pt; font-weight:bold; color:#000000; border: 1px solid #808080; border-left: none}
 .eCfgSectionTitle2 {background-color:#d6d6ee; font-size:10pt; font-weight:bold; color:#000000; border-left: 1px solid #808080; border-bottom: 1px solid #808080}

 .eCfgSumStyle {position:absolute;top:-100000px;left:-100000px;visibility:hidden;z-index:4}

 .eCfgHelp
 {
      background : #6666cc;
      font-weight : bold;
      color : #ffffff;
      padding : 2px 4px 2px 4px;
 }

 .eCfgHelpPos {position:absolute;top:-100000px;left:-100000px;visibility:hidden;z-index:5}
 .eCfgHelpPos2 {position:absolute;visibility:hidden;z-index:3}
 .eCfgAppBorder {background-color : #ccccff;border-left: 1px solid #808080; border-top: 1px solid #808080;border-right: 1px solid #808080; border-top: 1px solid #808080; border-bottom: 1px solid #808080}

 .eCfgPosAbs {position:absolute;}
 .eCfgVisHid {visibility:hidden;}

/*---------------------------------------------*/
/*   End of ISS - eConfigurator Definitions    */
/*---------------------------------------------*/

/*--------------------------*/
/*   ePortal Definitions    */
/*--------------------------*/

/*Search Pages*/
.ExSearchTable {background-color:#ffffff;}
.ExSearchLabel { font-weight: bold; text-align: left }
.ExSearchField { color:#000000; font-weight:normal; font-size:9pt; }
.ExSearchField INPUT,
.ExSearchField TEXTAREA
{ width:200px; }

/*Company Header*/
.CompanyName                    {font-size:12pt; font-weight:bold;}
.CompanyLink                    {}

/*Profile Data Definitions*/
.ProfCopyright     {}
.ProfLabel      {background-color:#cccccc; color:#000000; font-weight:bold; text-align:right;}
.ProfData       {background-color:#ffffff;}
.ProfSection    {background-color:#ffffff; color:#333399; font-size:10pt; font-weight:bold;}

/*Subsidiary*/
.SubsidCompanyName      { font-weight:bold; }
.SubsidSubsidName       { background-color:#f0f0f0; }
.SubsidCopyright        {  }
.SubsidDisclaimer       {  }
.SubsidCompleteList             {  }

/*Add Info*/
.AddInfoBullet                  {}
.AddInfoHeader                  {}
.AddInfoWebSite                 {}
.AddInfoDescr                   {}

/*Search*/
.CnsHead     {text-align:left; font-weight:bold; font-size: 10pt}
.CnsRow      {text-align:left; font-size: 10pt }
.CnsLink     { color:green}

/*PMD Reports*/
.reportTxtLarge         {   font-size:12pt; font-weight:bold;}
.reportTxtMedium        {   font-size:11pt; font-weight:bold;}
.reportBox              {   border-top:1px solid #000000;   border-bottom:1px solid #000000;}
.reportLbl,
.reportLblBtmBorder,
.reportLblTopBorder     {   font-weight:bold; white-space:nowrap;   font-size:9pt;}
.reportLblBtmBorder     {   border-bottom:1px solid #000000;    }
.reportLblTopBorder     {   border-top:1px solid #000000;   }
.reportFld              {   font-size:9pt;      }
.reportObjNum           {   width:auto;height:auto;font-weight:bold;margin:0px 5px 0px 0px ;border:1px solid #000000;background-color:#cccc99;padding:3px 3px 3px 3px;   }
.reportObjTitle         {   width:auto;height:auto;font-weight:bold;margin:0px 5px 0px 0px ;border:1px solid #cccccc;background-color:#f0f0f0;padding:3px 3px 3px 3px;   }
.reportAllObjTitle      {   font-size:1.8em;font-weight:bold;color:#6666cc      }
.reportAllObjSubtitle   {   font-size:1.3em;font-weight:bold;   }

/*--------------------------------------------------------*/
/* The following definitions are for Siebel Internal Use. */
/* Do not modify or remove.                               */
/*--------------------------------------------------------*/

.GridBorder         { border : 0px solid #cccccc; background-color : #e5e5e5; padding-bottom: 4px; padding-right: 4px; }
.Selected  .GridBorder  {border-color:#333399;}
.GridBack       {background-color : #e5e5e5;}

/* Field Display */
.mceGridField,
.mceField
{ color:#000000;    font-weight:normal; font-size:8pt; padding-bottom:2px; }

.mceGridField INPUT,
.mceField INPUT
{ width:120px; padding-top:3px; }

.mceGridField TEXTAREA,
.mceGridField SELECT,
.mceField TEXTAREA,
.mceField SELECT
{ width:120px; padding-top:2px; }

.mceGridField INPUT[type="checkbox"],
.mceField INPUT[type="checkbox"]
{ width:auto;}

.mceGridField INPUT[type="radio"],
.mceField INPUT[type="radio"]
{ width:auto;}

/* Label Display (used in grid layout) */
.mceGridLabel,
.mceGridLabel A,
.mceGridLabel A:visited,
.mceGridLabel A:hover {
color:#000000;
vertical-align : middle;
padding-bottom: 2px;
margin: 0px 2px 0px 0px;
font-weight : normal;
text-decoration : none;
}

.jH1 { position:absolute;top:0px;left:0px;width:100%;height:100% }
.jH2 { }
.jH3 { background-color:#f0f0f0;border:1px solid silver;border-top:none;color:black;cursor:default;font:8pt arial;font-weight:bold;padding-left:3px;padding-right:3px }
.jH4 { font-weight:bold;cursor:default }
.jH5 { position:absolute;top:0px;width:13px;height:100%;cursor:s-resize;z-index:100 }
.jH5_ie6 { position:absolute;top:0px;width:13px;height:100%;cursor:s-resize;z-index:100 }
.jH6 { position:absolute;top:0px;left:0px;width:0px;background-color:#f0f0f0;border:1px solid silver;border-top:none }
.jH7 { position:absolute;top:0px;left:0px;width:100%;background-color:gray;border:1px solid white;overflow:hidden;visibility:hidden }
.jH8 { position:absolute;top:0px;left:0px;width:5px;background-color:red;visibility:hidden }
.jT1 { position:absolute;left:0px;width:100%;height:100%;background-color:white }
.jT2 { position:absolute;top:0px;left:0px;width:100%;height:0;background-color:white;overflow:hidden }
.jT3 { position:absolute;top:0px;left:0px;width:100%;height:100%;background-color:white }
.jT4 { background-color:silver;border-bottom:1px solid silver }
.jT5 { background-color:white;border-top:1px solid silver;cursor:default;padding-left:3px;padding-right:3px }
.jT6 { background-color:white;border-top:3px double silver;font-weight:bold;cursor:default;padding-left:3px;padding-right:3px }
