#mask div.siebui-mask-image,
#mask div.siebui-mask-splash {
    border: 2px solid #ffffff;
    outline: 2px solid #0f2b5d;
}

body.siebui-login_body .loginButton > a {
    background: #74a5e6;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8abafe', endColorstr='#5788c7',GradientType=0 );
}

body.siebui-login_body .loginButton > a:hover,
body.siebui-login_body .loginButton > a:focus {
    background: #83b4f7;
    border-color: #4974ad #31537f #31537f #4974ad;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1c8fc', endColorstr='#6996ce',GradientType=0 );
}

body.siebui-login_body .loginButton > a:active {
    background: #6996ce;
    border-color: #19365b #31537f #31537f #19365b;
    filter:none;
}


/* theme tangerine IE corrections */

    .ui-menu li.siebui-appmenu-separator, .ui-menu li.siebui-appletmenu-separator {
        border-bottom: 1px solid #f0f7ff;
        border-top: 1px solid #d5e2f1;
    }
.ui-menu .ui-menu-item a.ui-state-disabled {
    color: #6f89a6;
}   

    .siebui-button-toolbar {
        background: none repeat scroll 0 0 #D2DDEE;
    }

    .com_siebel_applets_toolbar_CSSToolBarApplet_class > div img:hover,
    .com_siebel_applets_toolbar_CSSToolBarApplet_class > div img:focus,
    img.ToolbarButtonOn:hover,
    img.ToolbarButtonOn:focus,
    .ToolbarButton a:hover,
    .ToolbarButton a:focus {
        background: #ffffff;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
    }
    .com_siebel_applets_toolbar_CSSToolBarApplet_class > div img:active,
    img.ToolbarButtonOn:active,
    .ToolbarButton a:active  {
        background: #e6e6e6;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#dcdcdc',GradientType=0 );
    }

    /* CTI Edit Container */

    /* floated */

    .floatToolbar {
        background: #f7f7f7;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eeeeee',GradientType=0 );
    }

/* Screenbar */

        #s_sctrl #s_sctrl_tabScreen.ui-tabs ul.ui-tabs-nav li a{
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f5fd', endColorstr='#ced4e6',GradientType=0 );
        }
        #s_sctrl #s_sctrl_tabScreen.ui-tabs ul.ui-tabs-nav li.ui-state-hover a,
        #s_sctrl #s_sctrl_tabScreen.ui-tabs ul.ui-tabs-nav li.ui-tabs-active a{
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
        }   

    /* 2nd level */

        #s_sctrl #s_sctrl_tabView.siebui-empty-tabs,
        #s_sctrl #s_sctrl_tabView{
            background: #f4f4f4;
            height: 22px;
        }

    /* Applet Menu 3rd level */

        .siebui-subview-navs ul.dynatree-container > li > span > a,
        .siebui-subview-navs .siebui-nav-tabScreen.ui-tabs ul.ui-tabs-nav li a{
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f5fd', endColorstr='#ced4e6',GradientType=0 );
        }
        .siebui-subview-navs ul.dynatree-container > li > span > a:hover,
        .siebui-subview-navs ul.dynatree-container > li > span > a:focus,
        .siebui-subview-navs ul.dynatree-container > li > span.screen-tab-selected > a,
        .siebui-subview-navs .siebui-nav-tabScreen.ui-tabs ul.ui-tabs-nav li.ui-state-hover a,
        .siebui-subview-navs .siebui-nav-tabScreen.ui-tabs ul.ui-tabs-nav li.ui-tabs-active a{
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
        }

        /* Applet Menu 4th level */

        .siebui-subview-navs .siebui-nav-tabView{
            background: #f0f0f0;
        }

        .siebui-subview-navs .siebui-nav-tabView.ui-tabs ul.ui-tabs-nav li a:hover,
        .siebui-subview-navs .siebui-nav-tabView.ui-tabs ul.ui-tabs-nav li.ui-tabs-active a{
            background: #444;
        }

    /* LHS TREE NAV Applet Menu 3rd level */

/* Applet Styles */
/* Normal Applet, Pick, MVG */

    div.siebui-applet-content,
    .siebui-screen-hp-content,
    .AppletHIFormBorder{
        background: #eeeeee;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#fcfcfc',GradientType=0 );
    }

    table.fc-header, /*cal*/
    div.siebui-applet-btm-buttons,
    div.siebui-applet-title-row,
    .LayoutStyleMin,
    .LayoutStyleMax,
    .LayoutStyleHide,
    tr.siebui-applet-buttons > td,
    div.NotSelected tr.AppletButtons > td{
        background: #f5f5f5;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e1e1e1',GradientType=0 );
    }

    div.Selected tr.AppletButtons > td{
        background: #cbe1ed;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dff1fd', endColorstr='#bddbfb',GradientType=0 );
    }

    div.Selected tr.AppletButtons tr.AppletButtons > td,   /* ??? b/c of nesting!! */
    div.NotSelected tr.AppletButtons tr.AppletButtons > td{   /* ??? b/c of nesting!! */
        background: none;
    }

    tr.siebui-applet-buttons > td,
    div.Selected tr.AppletButtons > td,
    div.NotSelected tr.AppletButtons > td{
        border-bottom: 1px solid #ddd;
    }   
    .siebui-applet-buttons tr.AppletButtons > td, 
    tr.AppletButtons tr.AppletButtons > td{  /* ??? b/c of nesting!! eg home screen */
        border: none;
    }

    /* TASK UI */
    
    .siebui-applet-taskui-h{
        background: #45484d;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#333333',GradientType=0 );
    }

    /* HOME PAGE Calendar */

        .calendarBorder tr.AppletButtons > td{
            background: none!important;
        }
        
        /**/

        #dvPortalCalendarDayScroll{
            background: #fcfcfc;
        }   

    /* Applet Button Row */

        .siebui-button-secondary a, /* eCfg */
        .fc-button.fc-button-prev, /* cal */
        .fc-button.fc-button-next, /* cal */
        .siebui-editLayout button.appletButton,
        .siebui-editLayout button.appletButton:hover,
        .ui-jqgrid .ui-pg-button,
        span.siebui-link-icon-e a,
        span.siebui-btn-icon-e a{  
            background: #f9f9f9;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
        }
        .siebui-editLayout button.appletButton{
            background: none;
            filter:none;
        }


        .siebui-button-secondary a:hover, /* eCfg */
        .siebui-button-secondary a:focus, /* eCfg */
        .fc-button.fc-button-prev:hover,
        .fc-button.fc-button-prev:focus, /* cal */
        .fc-button.fc-button-next:hover,
        .fc-button.fc-button-next:focus, /* cal */
        a#openSidebarButton:hover,
        a#openSidebarButton:focus,
        a#sidebarCloseButton:hover,
        a#sidebarCloseButton:focus,
        .siebui-editLayout button.appletButton:hover,
        .ui-jqgrid .ui-pg-button.ui-state-hover,
        span.siebui-link-icon-e a:hover,
        span.siebui-link-icon-e a:focus,
        span.siebui-btn-icon-e a:hover,
        span.siebui-btn-icon-e a:focus{
            background: #fcfcfc;
            border-color: #aaa #999999 #999999 #aaa;
            filter:none;
        }

        .siebui-button-secondary a:active, /* eCfg */
        .fc-button.fc-button-prev:active, /* cal */
        .fc-button.fc-button-next:active, /* cal */
        a#openSidebarButton:active,
        a#sidebarCloseButton:active,
        .siebui-editLayout button.appletButton:active,
        span.siebui-link-icon-e a:active,
        span.siebui-btn-icon-e a:active{
            background: #e6e6e6;
            border-color: #666666 #999999 #999999 #666666;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#dcdcdc',GradientType=0 );
        }       

        span.siebui-link-icon-d a,
        span.siebui-btn-icon-d a{
            background: #D5D5D5!important;
            filter:none;
        }


        /* Buttons */
        
            .cke_skin_kama .cke_dialog_ui_hbox a.cke_dialog_ui_button,
            .ui-dialog .ui-dialog-buttonset button,
            .fc-button, /* cal */
            .AppletMenu span.miniBtnUIC > button,
            span.miniBtnUIC > a, /*???*/
            .appletButton{
                background: #fde2cb;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fde2cb', endColorstr='#fbca93',GradientType=0 );
            }
/*??? TODO*/
            .cke_skin_kama .cke_dialog_ui_hbox a.cke_dialog_ui_button:hover,
            .ui-dialog .ui-dialog-buttonset button:hover,
            .fc-button:hover, /* cal */
            .AppletMenu span.miniBtnUIC > button:hover,
            span.miniBtnUIC > a:hover, /*???*/
            .appletButton:hover{
                background: #69a2f3;
                border-color: #4974ad #31537f #31537f #4974ad;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1c8fc', endColorstr='#6996ce',GradientType=0 );
            }

            .cke_skin_kama .cke_dialog_ui_hbox a.cke_dialog_ui_button:active,
            .ui-dialog .ui-dialog-buttonset button:active,
            .ui-dialog .ui-dialog-buttonset button:focus,
            .fc-button:active, /* cal */
            .fc-button:focus, /* cal */
            .AppletMenu span.miniBtnUIC > button:active,
            .AppletMenu span.miniBtnUIC > button:focus,
            span.miniBtnUIC > a:active, /*???*/
            span.miniBtnUIC > a:focus, /*???*/
            .appletButton:active,
            .appletButton:focus{
                border-color: #19365b #31537f #31537f #19365b;
                background: #6996ce;
                filter:none;
            }
            
            .fc-button.fc-state-disabled, /* cal */
            .appletButtonDis {
                background: #EEEEEE!important;
                filter:none;
            }

/* Jquery Grid */

    /* TH & Body */

        .ui-jqgrid .ui-widget-content > td{
            background: #fefefe;
        }

        .ui-jqgrid .ui-state-default  > td, 
        .ui-jqgrid .ui-widget-content .ui-state-default > td {
            background: #fafafa;
        }

        .ui-jqgrid tr.ui-state-highlight td{
            background: #f7f7a8;
        }
        

    /* TH */

    
        .ui-jqgrid .ui-state-disabled {
            filter:none!important;
        }
        
        .ui-jqgrid .ui-th-column  {
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f6f6f6',GradientType=0 );
        }
        .ui-jqgrid .ui-th-column.ui-state-hover{
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
        }
        

    /* BODY */

    
        .ui-jqgrid tr.ui-row-ltr td {
            outline: none!important; 
        }
        
        .ui-jqgrid tr.ui-row-ltr td.edit-cell {
            background: #fffff7;
        }
        .ui-jqgrid tr.ui-row-ltr td.edit-cell.ui-state-disabled-cell {
            background:#f7f7a8; /*row highlight color*/
        }

    /* Grid Fields */

        .ui-jqgrid .ui-jqgrid-pager .ui-pg-button {
            background: none;
            filter:none;
        }


/* Popup Widgets */

    .ui-dialog {
        background: #eeeeee;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#fcfcfc',GradientType=0 );
    }
    .ui-dialog .ui-dialog-titlebar {
        background: #fafafa;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e1e1e1',GradientType=0 );
    }   
    .ui-dialog .ui-dialog-content {
        ___box-sizing: border-box;
    }
    .siebui-mvg-btn-modifier{
        display:none;
    }

/* GRID */

/* jQuery Tooltips */

    .ui-tooltip {
        background: #fcfcfc;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e5f0',GradientType=0 );
    }

/* Form Input Fields */

    #SSQuestionList input,
    .ui-widget-content select,
    .ui-dialog-content input,
    .siebui-form-data input,
    .siebui-cal-pickrange .calendarField input,
    div.mceGridField    input,
    div.mceGridField    textarea,
    div.mceGridField    select,
    div.searchContainer input,
    tr.AppletButtons    select,
    div.vis-dropdown    select {
        background: #fff;
    }

    .ui-widget-content select[readonly="readonly"],
    .mceGridField input[readonly="readonly"],
    .mceGridField textarea[readonly="readonly"],
    .mceGridField select[readonly="readonly"],
    .mceField input[readonly="readonly"],
    .mceField textarea[readonly="readonly"],
    .mceField select[readonly="readonly"]{
        background: #f3f3f3!important;
    }
    
    div.mceGridField input.siebui-ctrl-mvg{
        background: #fff!important;
    }

/*---------------------------------------------------------------------------*/
/*-----------------------TBUI LHS PANE---------------------------------------*/
/*---------------------------------------------------------------------------*/
    #SS_OpenUIReportPane,
    div.SmartScript,
    div.TaskAssistant,
    div.siebui-task-pane,
    #SS_TaskUIPane,
    div.siebui-chat-pane,
    #SS_ChatUI,
    #Dashboard {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f5fd', endColorstr='#ced4e6',GradientType=0 );
    }
    
    .siebui-link-icon-e > a {
      padding: 0!important;
      margin-right: 0!important;
    }

/*---------------------------------------------------------------------------*/
/*-------------Message broadcasting Message theming - Start------------------*/
/*---------------------------------------------------------------------------*/
    #MsgBar.siebui-msgbar-bkgrnd-msg-normal {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65aef7', endColorstr='#4096ee',GradientType=0 );
    }
    #MsgBar.siebui-msgbar-bkgrnd-msg-high {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f265', endColorstr='#eee840',GradientType=0 );
    }
    #MsgBar.siebui-msgbar-bkgrnd-msg-urgent {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f76585', endColorstr='#ee4066',GradientType=0 );
    }

    /* POPUP BOX */

    .siebui-msgbrdcst-heading li {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f8f8f8',GradientType=0 );
    }

    .siebui-msgbrdcst-heading li.readmessage {
        background: #f8f8f8;
    }

/*---------------------------------------------------------------------------*/
/*------------------------- Generic Tree | Explorer -------------------------*/
/*---------------------------------------------------------------------------*/
    .jstree-default {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f0f0f0',GradientType=0 );
    }

/*---------------------------------------------------------------------------*/
/*------------------------------ SmartScript styling ------------------------*/
/*---------------------------------------------------------------------------*/

/* Calculator Popup */

    .ui-datepicker .ui-datepicker-title select,
    .ui-datepicker,
    .calculator-popup {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#387698', endColorstr='#316885',GradientType=0 );
    }

    .calculator-result {
    }

    .calculator-popup button,
    .calculator-popup button.calculator-ctrl  {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b7c9f', endColorstr='#2f637f',GradientType=0 );
    }   
    .calculator-popup button:hover {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#428bb2', endColorstr='#367190',GradientType=0 );
    }
    .calculator-row button.calculator-key-down {
        background: #353535;
    }

    .calculator-keystroke {
        background: #FFFFFF;
    }

    /* Calendar Popup */

    .ui-datepicker .ui-state-default{
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d81a5', endColorstr='#367190',GradientType=0 );
    }   
    .ui-datepicker .ui-state-default.ui-state-hover {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438db5', endColorstr='#3c7ea2',GradientType=0 );
    }
    .ui-datepicker .ui-slider-handle.ui-state-default{
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66a4c6', endColorstr='#367190',GradientType=0 );
    }
    .ui-datepicker .ui-slider-handle.ui-state-default.ui-state-hover {
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cbbd4', endColorstr='#438db5',GradientType=0 );
    }   
    /* opactiy */

    img.ToolbarButtonOff {
        filter: alpha(opacity=20);
        -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=20)';
    }

    .calendarBorder2 td.calendarTileSolidTop img,
    .calendarBorder2 td.calendarTileSolidTopBottom img{
        filter: alpha(opacity=20);
        -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=20)';
    }
    tr.AppletButtons span.siebui-link-icon-d a,
    tr.AppletButtons span.siebui-btn-icon-d a{
        filter: alpha(opacity=25);
        -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=25)';
    }
    /*
    .ui-jqgrid tr.ui-row-ltr td.edit-cell {
        filter: alpha(opacity=100);
        -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
    }
    .ui-jqgrid .ui-widget-content input[readonly="readonly"], 
    .ui-jqgrid .ui-widget-content select[readonly="readonly"]{
        filter: alpha(opacity=100);
        -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
    }
    */  
    .LayoutStyleHide{
        filter: alpha(opacity=20);
        -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=30)';
    }


/*---------------------------------------------------------------------------*/
/*--------------------- eConfigurator ---------------------------------------*/
/*---------------------------------------------------------------------------*/

    .siebui-ecfg-item-summary .siebui-applet-content{
        background: #d6e8ee;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6e8ee', endColorstr='#eaf6fc',GradientType=0 );
    }

    #siebui-ecfg-messages.siebui-ecfg-messages-highlight .siebui-applet-title-row,
    #ConflictPage .siebui-applet .siebui-applet-title-row{
        background: #ffebeb;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffebeb', endColorstr='#ffc3c3',GradientType=0 );
    }

    .siebui-ecfg-module-content .div-table-row.siebui-ecfg-th {
        background: #c6c6c6;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#b0b0b0',GradientType=0 );
    }


/*---------------------------------------------------------------------------*/
/*--------------------- TASK UI ---------------------------------------------*/
/*---------------------------------------------------------------------------*/
    .siebui-applet-taskui-h{
        background: #45484d;    
    }

/*---------------------------------------------------------------------------*/
/*--------------------- Calendar --------------------------------------------*/
/*---------------------------------------------------------------------------*/

    a.fc-event-skin {
        border-left: 1px solid #aaa;
    }

    .fc-event-skin.calendar-EventStyle-Acknowledged {   /* light green */
        background: #d3ffd7;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7ffe9', endColorstr='#d3ffd7',GradientType=0 );
    }

    .fc-event-skin.calendar-EventStyle-Active {         /* turquoise */
        background: #d3fff5;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edfffb', endColorstr='#d3fff5',GradientType=0 );
    }

    .fc-event-skin.calendar-EventStyle-Approved {   /* dark green */
        background: #afffb6;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1ffc6', endColorstr='#afffb6',GradientType=0 );
    }
    .fc-event-skin.calendar-EventStyle-Planned {    /* yellow */
        background: #ffffd6;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcffed', endColorstr='#f9ffd3',GradientType=0 );
    }
    .fc-event-skin.calendar-EventStyle-Scheduled {      /* purple */
        background: #f9e1ff;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbefff', endColorstr='#f9e1ff',GradientType=0 );
    }
    .fc-event-skin.calendar-EventStyle-Unscheduled {        /* greyish green */
        background: #e7f3ee;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffe', endColorstr='#e7f3ee',GradientType=0 );
    }   
    .fc-event-skin.calendar-EventStyle-Cancelled {  /* red */
        background: #f6bebe;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff3f3', endColorstr='#ffe5e5',GradientType=0 );
    }
    .fc-event-skin.calendar-EventStyle-Declined {   /* dark red */
        background: #ffdfe2;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdfe2', endColorstr='#ffd1d5',GradientType=0 );
    }
    .fc-event-skin.calendar-EventStyle-Done{            /* greyish */
        background: #e7f3ee;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d9dddb',GradientType=0 );
    }
    .fc-event-skin.calendar-EventStyle-InProgress { /* dark blue */
        background: #dff0ff;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f8ff', endColorstr='#dff0ff',GradientType=0 );
    }
    .fc-event-skin.calendar-EventStyle-NotStarted { /* yellow-orangy */
        background: #fff7df;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf1', endColorstr='#fff7df',GradientType=0 );
    }
    .fc-state-highlight {
        background: #fffece;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffde0', endColorstr='#fffece',GradientType=0 );
    }   
    .calendar-WorkingHr-agendaDay{
        filter: alpha(opacity=50);
        -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=50)';
    }
    .calendar-WorkingHr-agendaWeek {
        filter: alpha(opacity=60);
        -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=60)';
    }

/*---------------------------------------------------------------------------*/
/*--------------------- Report Pane -----------------------------------------*/
/*---------------------------------------------------------------------------*/

    #reportFooter button{
        margin:2px;
    }
    
    .siebui-report-weekdays .appletButton,
    .siebui-report-weekdays .appletButtonDis,
    .siebui-report-mon .appletButton,
    .siebui-report-mon .appletButtonDis   
    {
        filter: none !important;
    }
    
    #ScheduleHeader .mceGridField
    {
        text-align:left !important;
    }
    
    .siebui-report-runmin
    {
        padding-right:1px !important;
    }
    
    .siebui-rptaccordion-collap
    {
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, sizingMethod='auto expand');
    }
    
    .siebui-rptaccordion-exp
    {       
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=-1, M21=1, M22=0, sizingMethod='auto expand');
    }
    
    .siebui-report-button .appletButton,
    .siebui-report-button .appletButtonDis    
    {
        filter: none !important;
        background-color:transparent !important;
        line-height:1em;
    }
    
    #reportParameter .mceGridField input[type="checkbox"]    
    {
        width:inherit !important;
        margin-left:2px !important;
    }
    
    #reportParameter .mceGridField textarea
    {
        min-width:100px !important;
    }
/*---------------------------------------------------------------------------*/
/*--------------------- eSearch ---------------------------------------------*/
/*---------------------------------------------------------------------------*/
    
    /*.siebui-search-esearch .searchButton*/
    .siebui-search-esearch #srchDivCont
    {
        filter:none;
        margin-left:-1px !important;
        border-right:#d2ddee 1px solid !important;
        border-left:#d2ddee 1px solid !important;
        border-bottom:#d2ddee 1px solid !important;
    }
    .siebui-search-button
    {
        height:auto;
        width:auto;
        line-height:23px;
    }
    
