html,body {
  margin: 0px;
  overflow: hidden;
  height: 100%;
  font-size: 15px;
}
div {
  -ms-overflow-style: none;
}

#_swe,
#Toolbar,
#HTMLToolbar,
#_swethreadbar,
#anchor-applet-div,
.siebui-StateButton,
.ui-scrollbar,
.ui-scrollbar .ui-scrollbar-y,
.SiebelContentDetailContainerRelatedItems .siebui-mb-applet-header,
.siebui-SiebelDetailParentContainerRelatedItems-sign .siebui-mb-applet-header,
img[src="images/spacer.gif"],
img[src="images/btn_div.gif"],
img[src="images/btn_div_gray.gif"] {
  display: none
}
#_sweclient {
  height: 100%
}
#_sweview {
  height: 100%;
  -ms-touch-action: none;
}
#_sweappmenu {
  float: left;
  height: 50px;
  width: auto;
  clear: both;
  z-index: 3;
  position: absolute;
  border:0;
}
#_sweappmenu div {
  float: left;
}
#_swecontent.maxWidth {
  padding: 0;
  width: 100%;
  margin: 0;
  -ms-touch-action: none;
  position: absolute;
  top: 50px;
  bottom: 0px;
}
#_svf0 {
  padding: 0 !important;
  height: 100% !important;
  overflow: auto;
  overflow-x: hidden;
}
div#PDQToolbar{
  padding: 5px;
}
#_sweviewbar {
  bottom: 0;
  display: inline-block;
  left: 0;
  margin: 0 !important;
  overflow: visible;
  padding: 0 !important;
  height: 50px;
  width: auto;
  position: relative;
  float: right;
  z-index: 12;
}
#_swescrnbar.simplenavBarStyle {
  margin: 0;
  padding: 0;
  clear: left;
  height: 50px;
  width: auto;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 50px;
  right: 0;
  border: 0;
}
#_swescrnbar #s_sctrl {
  padding: 0;
  margin: 0;
  clear: both;
}
#_swescrnbar div.siebui-jqmNavbar {
  margin: 0;
  padding: 5px 5px 0 5px;
}
.siebui-jqmNavbar .ui-btn img {
  width: 24px;
  height: 24px
}
#popup-popup {
  min-width: 50%;
}
.siebui-jqmNavbar > .ui-controlgroup-controls > .ui-btn {
  float: left;
}
/* new header */
.header-top {
  float: right;
  margin: 5pt;
  padding: 3pt;
}
.siebui-logo {
  float: left;
  white-space: nowrap;
  width: 50px;
  height: 50px;
}
.app-back-button {
  display: none;
}
.applicationMenu {
  float: left;
  padding-top: 4px;
}
.bannerDiv {
  float: right;
  padding: 10pt;
}
.ScreenHomePageTitle {
  padding: 5px;
}
/* End of Header */
.msgBar {
  height: 50px;
}
.menuitem {
  white-space: nowrap;
  max-height: 400px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.ui-popup-hidden {
  display:none;
}
.Tier2ToolbarContainer {
  float: left;
}
.logoutlink {
  text-indent: -20000px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 6px;
  padding: 0;
}
.ToolbarButton {
  height: 50px;
  width: 50px;
  float: left;
  margin: 0;
}
.ToolbarButton a {
  padding: 0 !important;
  margin: 0 !important;
  height: 50px;
  display: inline-block;
}
.ToolbarButton a img {
  margin: 10px 15px !important;
  height: 24px;
  width: 24px;
}
.PDQToolbarContainer {
  float: right;
}
.PageItem {
  float: left;
}
.PDQWidth {
  padding-right: 5px;
}
.PageItemLabel {
  padding-top: 7px;
  padding-right: 5px;
  float: left;
}
.pdqitem{
  z-index: 9999;
  position: absolute;
  max-height: 200px;
  overflow: scroll;
  margin-top: 0;
  margin-left: -100px;
}
.jqmNoRecord {
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 40%;
}
.ui-field-contain {
  margin: 1em 2em;
}
/* Applet Styles */
.AppletHIListBorder {
  position: relative;
}
.scrollviewcontainer {
  min-height: 55px;
  -ms-touch-action: none;
  max-width: 100% !important;
}
.siebui-ctrl-pad {
  -ms-touch-action: none;
}
div.AppletHIListBorder>div>table {
  width: 100%;
  table-layout:fixed;
}
.ui-page,.ui-page-active {
  height: 100%;
}
.ui-simpledialog-container {
  overflow:scroll !important;
  max-height: 85% !important;
  max-width: 95% !important;
}
.ui-popup-dimension {
  width: 100%;
}
.ui-btn {
  margin: 2px 0;
}
li[data-jqml] .ui-btn {
  padding: 0;
  z-index: 100;
}
.ui-btn-inner, .miniBtnUIC {
  padding: 8px 8px 7px 8px;
}
.ui-btn-corner-all, .miniBtnUIC {
  vertical-align: middle;
}
.ui-btn-text, .miniBtnUIC {
  font-size: 15px;
  z-index: 0;
}
/* Combo-box display in form applet */
.ui-field-contain .ui-select .ui-btn-icon-right {
  text-align: left;
}

.ui-select .ui-btn select {
  height: 30px;
  min-height: 90%;
}
.ui-select .ui-btn-icon-right .ui-icon {
  right: 10px;
}

/* Width of Combo-box */
.ui-field-contain div.ui-select {
  width: 60%;
}
/* Field labels in Form applets */
.ui-field-contain label.ui-select,
.ui-field-contain label.ui-slider,
.ui-field-contain label.ui-input-text {
  vertical-align: middle;
  min-width: 7em;
  font-size: inherit;
  text-align: right;
}
.ui-slider img {
  vertical-align: middle;
}
.ui-field-contain .applet-form-pick {
  float: right;
  margin-right: 5px;
  margin-top: -25px;
}
/* Applet buttons on Form applet */
div.ui-btn-inline {
  margin: 0;
  vertical-align: middle;
}
a.email,
a.tel,
a.url,
a.mapLink,
a.drilldown,
a.listdrilldown {
  float: right;
  height: 16px;
  width: 28px;
}
a.listdrilldown {
  float: left;
}
.siebui-formappletmobilesection3 a.email,
.siebui-formappletmobilesection3 a.tel,
.siebui-formappletmobilesection3 a.url,
.siebui-formappletmobilesection3 a.mapLink,
.siebui-formappletmobilesection3 a.drilldown,
.siebui-formappletmobilesection3 a.listdrilldown {
  margin-right: 10px;
}
.siebui-formappletmobilesection3 a.mapLink {
  margin-top: 2px;
}
.ui-field-contain a.email,
.ui-field-contain a.tel,
.ui-field-contain a.url,
.ui-field-contain a.mapLink,
.ui-field-contain a.drilldown,
.ui-field-contain a.listdrilldown {
  margin-top: 7px;
}
.ui-field-contain a.mapLink {
  margin-right: 20px;
}

/*Map Control*/
.SiebelMapContainer{
  width: 40%;
}
#jqmMapCtrl {
  width: 100%;
  height: 360px;
  float: left;
  overflow: hidden;
}
/*Map Control*/
/*Search Container*/
.AppletSearchContainer {
  border-spacing: 0px;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.ui-input-search input.ui-input-text {
  width: 130px !important;
  font-size: 15px;
}
div.ui-input-text {
  margin: 0;
  padding: 0;
  height: 100%;
}
div.ui-input-text input.ui-input-text {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  padding: 6px 0 6px 6px;
}
#_AppletFormBody div.ui-input-text input.ui-input-text {
  width: 88%;
}

.AppletSearchContainer label {
  display: none !important;
}
.AppletSearchContainer div.ui-select,
.AppletSearchContainer div.ui-input-search {
  float: right;
  margin: 1px;
  max-width: 50%;
}
.ui-input-search .ui-input-clear {
  right: 7px;
}
.AppletSearchContainer div.ui-controlgroup-controls {
  width: 100%;
}
.AppletSearchContainer .ui-icon-searchfield .ui-btn-icon-notext .ui-btn-inner {
  height: 18;
  padding: 3px 0;
}
.AppletSearchContainer .ui-btn-inner {
  border-top: 0;
}
/*Search Container*/
.ui-li-heading {
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ui-li-desc {
  font-size: inherit;
  margin: .6em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 90%;
  width: auto;
}
.ui-li-desc:hover, .ui-li-heading:hover {
  overflow:visible;
  word-wrap: break-word;
  white-space:normal;
}
.pdqitem > .ui-listview > .ui-li,
.menuitem > .ui-listview > .ui-li {
  font-size: 15px;
  text-indent: 10px;
  line-height: 2em;
  text-overflow: ellipsis;
}
/*Applet Title Button text*/
.form-applet-edit-title,
div.NotSelected tr.AppletButtons,
div>table>tbody>tr.AppletButtons,
tr.AppletStylePopup>td>table>tbody>tr>td>table>tbody>tr,
td.AppletHIFormBorder>span>table>tbody>tr.AppletButtons,
.SiebelContentListContainer tr.AppletButtons,
.SiebelDetailParentContainerRelatedItems .form-applet-header {
  font-size: 24px !important;
  white-space: nowrap;
  display: table;
  width: 100%;
}
.AppletStylePopup .AppletBack .AppletBack {
  margin: 0 auto;
}
.AppletStylePopup .AppletBack .AppletBack>tbody>tr>td{
  padding: 10px 20px;
}
input.ui-input-text, textarea.ui-input-text {
  width: auto;
  font-size: inherit;
}
.ui-block-e .ui-btn{
  margin-right: 2px;
  margin-left: 2px;
  top: 4px;
}
.aSwipeBtn {
  float: right;
  display:inline-block;
}
li[data-jqml] .aSwipeBtn, ui-btn {
  position: absolute;
  top: 50%;
  margin-top: -20px !important;
  right: -3px;
}
.ui-bar{
  border: 1px inset;
  padding: 0;
}
.jqmgrid_label_bar {
  height: 25px;
  font-size: inherit;
  padding-top: 5px !important;
  white-space: nowrap;
  text-align: center;
}
.jqmgrid_row {
  width: 100%;
}
.jqmgrid_row_bar {
  height: 40px;
}
.jqmgrid_row_bar > .ui-slider {
  margin: .2em .6em;
}
.jqmgrid_row_bar > .ui-select .ui-btn{
  padding: 0;
  margin:0;
  height: 95%;
}
.jqmgrid_row_bar .ui-checkbox .ui-btn{
  margin:0;
  z-index: 0 !important;
}
.ui-checkbox, .ui-radio,
.jqmgrid_checkbox {
  z-index: 0 !important;
}
.jqmgrid_row_bar .ui-checkbox .ui-btn-inner{
  height: 30px !important;
  padding-top: 0px !important;
}
.jqmgrid_row_bar .ui-checkbox .ui-icon {
  height: 17px !important;
  width: 17px !important;
}
.jqmgrid_row_bar input.ui-input-text,
.jqmgrid_row_bar textarea.ui-input-text,
.jqmgrid_row_bar select.jqmgrid_select {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding-right: 24px;
}
.jqmgrid_row_bar .ui-checkbox .ui-btn-icon-left .ui-icon {
  left:45%
}
.jqmgrid_row_bar .ui-select {
  height: 100%;
}
.AppletButtons, .form-applet-header {
  font-size: 24px ;
  max-height: 64px !important;
  vertical-align: middle;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.SiebelContentListContainer {
  width: 400px;
  height: 100%;
  float: left;
  overflow: hidden;
 }
.SiebelContentDetailContainer {
  min-width: 560px;
  height:100%;
  margin: 0 0 0 0;
  float: none;
}
.SiebelContentListContainerRelatedItemsOuterCont div > table > tbody > tr.AppletButtons {
  margin: 0 !important;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.SiebelDetailParentContainerRelatedItemsOuterCont {
  width:40%;
  float:left;
  height:100%;
  -ms-touch-action: none;
}
.SiebelContentListContainerRelatedItemsOuterCont {
  float: none;
  min-width: 560px;
  width:60%;
  height:100%;
  -ms-touch-action: none;
}
#_sweview>div>div>div>div {
  height:100%;
}
.SiebelDetailParentContainerRelatedItemsOuterCont hr,
.SiebelContentDetailContainer hr {
  height: 0;
  border-width: 1px 0 0 0;
  margin: 10px 15px 15px 25px;
}
table {
  border-spacing: 0px;
}
.ui-listview {
  border-spacing: 0px;
}
.ui-mobile fieldset {
  margin: 0px;
}
.ui-controlgroup-vertical .ui-btn .ui-btn-inner {
  min-width: 63px;
  min-height: 45px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 0;
  border: 0;
}
.ui-controlgroup-vertical .ui-btn .ui-btn-inner .ui-btn-text h5 {
  margin: 0;
  font-size: 10px;
}
.ui-icon {
  display:inline-block;
}
.ui-icon-custom-gear,
.ui-icon-custom-trashcan,
.ui-icon-custom-plus,
.ui-icon-custom-save,
.ui-icon-custom-edit,
.ui-icon-custom-cancel,
.ui-icon-small-marker,
.ui-icon-marker,
.ui-icon-custom-close,
.ui-icon-sign,
.ui-icon-submit,
.siebui-mobile-msgclosedialog span.ui-btn-inner,
.ui-icon-open {
  width: 20px;
  height: 20px;
}
div[data-icon="delete"] .ui-btn-text,
div[data-icon="check"] .ui-btn-text,
div[data-icon="custom-plus"] .ui-btn-text,
div[data-icon="custom-save"] .ui-btn-text,
div[data-icon="custom-edit"] .ui-btn-text,
div[data-icon="custom-cancel"] .ui-btn-text,
div[data-icon="arrow-r"] .ui-btn-text,
div[data-icon="arrow-l"] .ui-btn-text,
div[data-icon="marker"] .ui-btn-text,
div[data-icon="submit"] .ui-btn-text,
div[data-icon="sign"] .ui-btn-text {
  display: none;
}
.siebui-btn-icon-e img {
  padding: 10px;
}
.SiebelMobileViewTabContainer {
  overflow:hidden;
  margin: 0 10px;
  clear: left;
}
.SiebelMobileViewTabContainer .siebui-subview-navs a {
  text-align: left;
  margin: 0;
  height:35px;
  width: 180px;
  float: left;
}
.screen-cntrl-readonly {
  font-size: inherit;
  text-overflow: ellipsis;
  margin-left: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.form-applet-label {
  line-height: 1.4;
}
.screen-cntrl-label {
  line-height: 1.4;
  margin: 0 0 .3em;
}
.siebui-formappletmobilesection3 input,
.siebui-formappletmobilesection3 textarea,
.SiebelDetailParentContainerRelatedItems .siebui-formappletmobilesection3 input {
  margin-left: 4px;
  width: 80% !important;
}
.SiebelContentListContainerRelatedItemsOuterCont .SiebelContentDetailContainerRelatedItems,
.SiebelContentListContainerRelatedItemsOuterCont .SiebelContentListContainerRelatedItems,
.SiebelDetailParentContainerRelatedItemsOuterCont .SiebelDetailParentContainerRelatedItems {
  max-height: 50%;
  min-height: 50%;
  height: 50%;
  overflow-x: hidden !important;
  overflow-y: auto;
}
.SiebelDetailParentContainerRelatedItemsOuterCont .SiebelMobileViewTabContainer {
  max-height: 45%;
  overflow: scroll;
}
.SiebelContentListContainerRelatedItemsOuterCont .SiebelContentDetailContainerRelatedItems1 {
  max-height: 45%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.siebui-formappletmobile, #_FormAppletMobile,
.siebui-formappletmobilesection2, #_FormAppletMobileSection2,
.siebui-formappletmobilesection3, #_FormAppletMobileSection3 {
  padding: 0 10px;
  margin: 0 10px;
}
.siebui-formappletmobilesection3, #_FormAppletMobileSection3{
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
}
.siebui-formappletmobilesection3 > .ui-body-f {
  display: table-cell;
  border: 0;
  padding-bottom: 10px;
}
.siebui-formappletmobile, #_FormAppletMobile {
  padding-top: 10px;
}
.SiebelContentDetailContainerRelatedItems .siebui-formappletmobile img,
.SiebelContentDetailContainerRelatedItems1 .siebui-formappletmobile img {
  float: left;
  margin-left: 20px;
}
.SiebelContentDetailParentFormContainer{
  height: 50%;
  overflow: hidden;
  overflow-y: scroll;
}
#_ChildrenContainer {
  width: 100%;
  border: 0;
  overflow: hidden;
  height: 50%;
}
.SiebelContentDetailContainer,
.SiebelContentListContainerRelatedItemsOuterCont  {
  overflow-y: scroll;
}
.siebui-signatureHeader {
  height: 100%;
}
.siebui-signatureHeader  textarea,
.siebui-signatureHeader  input,
.siebui-signatureHeader p {
  width: 632px !important;
  max-height: 56px !important;
}
.SiebelMobileViewTabContainer a.selectedviewmobile {
  margin: 0 !important;
}
.SiebelContentListContainerRelatedItemsOuterCont #_AppletFormBody {
  height: auto;
  overflow-y: scroll;
}
.siebui_ServiceSignatureHeader .FormAppletText{
  height: 20px !important;
  margin: 0px;
}
.email-ControlId:hover,
.tel-ControlId:hover,
.url-ControlId:hover,
.map-ControlId:hover,
.textArea:hover {
  overflow-style: visible;
  word-wrap: break-word;
  white-space: normal;
}
.ui-field-contain label.ui-select {
  vertical-align: top !important;
  margin-top: 9px;
}
img.applet-jqmlist-pick,
img.applet-list-datetime,
img.applet-list-date {
  margin: -28px 5px 0 0;
  float: right;
}
.ui-btn-ShowMap span.ui-icon{
  height: 24px;
}
.siebui-iconMap {
  padding-right: 15px;
}
.ui-grid-a,
.ui-grid-b,
.ui-grid-c,
.ui-grid-d,
.jqmgrid_Label {
  overflow: hidden;
  width: 100%;
}
.ui-grid-c .ui-block-a,
.ui-grid-c .ui-block-b,
.ui-grid-c .ui-block-c {
  width: 31%;
}
.ui-grid-d .ui-block-a,
.ui-grid-d .ui-block-b,
.ui-grid-d .ui-block-c,
.ui-grid-d .ui-block-d {
  width: 23.3%;
}
.ui-grid-d .ui-block-e,
.ui-grid-c .ui-block-d {
  width: 40px;
}

/* For grid in popup only */
.AppletStylePopup .ui-grid-c .ui-block-a,
.AppletStylePopup .ui-grid-c .ui-block-b,
.AppletStylePopup .ui-grid-c .ui-block-c {
  width: 33.333%;
}
.AppletStylePopup .ui-grid-d .ui-block-a,
.AppletStylePopup .ui-grid-d .ui-block-b,
.AppletStylePopup .ui-grid-d .ui-block-c,
.AppletStylePopup .ui-grid-d .ui-block-d {
  width: 25%;
}
.AppletStylePopup .ui-grid-d .ui-block-e,
.AppletStylePopup .ui-grid-c .ui-block-d {
  display: none; /* No need to display the Delete icon for popup */
}

.ui-grid-d .ui-block-e .ui-btn{
  height: 100% !important;
}
.ui-grid-a .ui-select .ui-btn-text,
.ui-grid-b .ui-select .ui-btn-text,
.ui-grid-c .ui-select .ui-btn-text,
.ui-grid-d .ui-select .ui-btn-text {
  text-align: left;
  font-size: inherit;
}
.ui-grid-d > :nth-child(n),
.ui-grid-c > :nth-child(n) {
  width: 100%;
}
#_AppletFormBody .ui-btn-inner {
  padding: .6em .4em;
}
/* NOTIFICATIONS STYLING */
.siebui-mb-msgbrdcst-summary {
  font-size: 24px !important;
  display: table;
  width: 100%;
}
.siebui-mobile-msgbrdcst-drilldown-icon {
  display: inline-block;
  float: left;
  height: 16px;
  vertical-align: middle;
  width: 28px;
 }
.siebui-mobile-msgbrdcst-attachment-icon {
  display: inline-block;
  float: left;
  height: 16px;
  vertical-align: middle;
  width: 28px;
}
.siebui-mobile-msgbar {
  text-align: center;
}
.siebui-mobile-msgbar h5 {
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  margin: 10px 15px;
}
.siebui-mb-msg-summary-heading {
  font-size: 20px;
  margin: 10px;
  display: inline;
}
.siebui-mobile-msgbar span.ui-icon {
  left: 18px;
}
.siebui-mobile-msgbrdcst_details {
  margin-top: 10px;
}
.siebui-mobile-msgbrdcst_details li {
  min-height: 40px;
  max-height: 500px;
}
.siebui-mobile-msgbrdcst_details ul {
  padding-left: 0;
}
.siebui-mb-msgbrdcst-summary a.ui-link-inherit {
  padding: 0 !important;
}
.siebui-mb-msgbrdcst-summary li,
.siebui-mobile-msgbrdcst_details li {
  position: relative;
  padding: 15px 30px 15px 10px !important;
}
.siebui-mobile-deletemsgbtn {
  width: 40px;
  padding: 0;
  margin: 0;
  float: right;
}
.siebui-mobile-msgclosedialog {
  width: 40px;
  float: right;
  margin: 0;
  margin-right: 20px;
}
.siebui-mobile-msgclosedialog span.ui-btn-inner{
  width: 40px;
  height: 20px;
}
.siebui-mobile-deletemsgbtn  span.ui-btn-icon-notext .ui-btn-inner {
  padding: 0 !important;
}
.siebui-mobile-msgclosedialog span.ui-btn-text,
.siebui-mb-msgbrdcst-summary li.deletemessage {
  display: none;
}
.siebui-mb-msgbrdcst-summary li.siebui-msgbar-row-normal,
.siebui-mobile-msgbrdcst_details li.siebui-msgbar-row-normal,
.siebui-mb-msgbrdcst-summary li.siebui-msgbar-row-high,
.siebui-mobile-msgbrdcst_details li.siebui-msgbar-row-high,
.siebui-mb-msgbrdcst-summary li.siebui-msgbar-row-urgent,
.siebui-mobile-msgbrdcst_details li.siebui-msgbar-row-urgent {
  padding: 5px;
}
.siebui-mobile-msgbrdcst_details span {
    word-wrap: break-word;
}
.siebui-mobile-msgbrdcst_details > ul {
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.popupParent ul {
  padding-left: 0;
}
.popupParent li {
  font-size: 16px !important;
}
.popupParent li :focus {
  outline: none;
}
.siebui-mb-deletemsgbtn {
  float : right;
  border-radius: 10px;
  height: 20px;
}
.siebui-msgbar-popup {
  width: 40% !important;
}
.siebui-mb-msgbrdcst-details {
 width: 20% !important;
}
/* NOTIFICATIONS STYLING */
.siebui-jqmNavbar{
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.Checkbox_Label .ui-btn-inner {
  min-height: 18px !important;
}
.Checkbox_Label .ui-controlgroup-label legend {
  margin-top: 9px;
  padding: 0;
  float: right;
}

.ui-li-desc-dummy {
  clear: both;
  height: 0;
}
.siebui-navbar-noicon h5 {
  padding-top: 20px;
}
.AppletMenu {
  position: relative;
  z-index: 1;
}
.siebui-formappletmobile .map-ControlId,
.siebui-formappletmobile .email-ControlId,
.siebui-formappletmobile .tel-ControlId,
.siebui-formappletmobile .url-ControlId {
  margin-left: 8px !important;
}
.siebui-SiebelDetailParentContainerRelatedItemsOuterCont-sign,
.siebui-SiebelContentListContainerRelatedItemsOuterCont-sign {
  height: 50%;
  overflow-y: scroll;
}
.AppletButtons > .jqmpopup_AppletTitle {
  font-size: 20px;
}
.jqmpopup_title {
  font-size: 24px;
  padding: 10px 0 0 20px;
}
.mobileCalDatePicker {
  font-size: 15px;
  padding-top: 5px;
}
.FormAppletText {
  max-width: 400px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 2px 0 2px 12px;
}
.siebui-formappleth1 .FormAppletText {
  font-size: 24px!important;
}
.siebui-formappleth1 .FormAppletText,
.siebui-formappleth3 .FormAppletText {
  margin-left: 0 !important;
}
.FormAppletText:hover {
  overflow-style:visible;
  word-wrap: break-word;
  white-space:normal;
}
.FormMobileDrilldown {
  padding-left: 24px;
}
.AppletBlock{
  padding: 10px 20px;
  position:relative;
}
.popupContainer {
  max-width:900px !important;
}
td.siebui-popup-filter {
  display: inline-block;
}
td.siebui-popup-filter > .siebui-popup-header-text {
  float: left;
  padding: 10px;
  font-size: 15px;
}
td.siebui-popup-filter > .siebui-popup-button {
  float: left;
  vertical-align: middle;
}
.siebui-popup-filter .siebui-popup-button .ui-select {
  width: 150px !important;
}
.siebui-popup-btm {
  float: right;
}
.siebui-popup-action {
  width: 20% !important;
  padding: 5px !important;
}
div.siebui-popup-btm  .siebui-popup-button {
  margin-right: 0 !important;
}
.siebui-popup-button .ui-input-text {
  float: right;
  height: 36px;
  width: 150px;
}
.siebui-popup-button .ui-select .ui-btn {
  margin: 0;
}
.ui-simpledialog-container .siebui-popup-filter span.siebui-popup-button > input.ui-input-text {
  padding: 0 !important;
  margin: 0 !important;
  height: 36px !important;
  width: auto !important;
}
.ui-field-contain > textarea {
  vertical-align: middle !important;
}
td.siebui-popup-ctrl {
  width: 40px;
  padding: 20px;
}
td.siebui-popup-column {
  text-align: center;
  padding: 20px;
  vertical-align: top;
}
tr td.siebui-align-right {
  text-align: right;
}
td.siebui-popup-column > .siebui-popup-label {
  padding-bottom: 30px;
}
.siebui-popup-select-columns {
  margin: 0 auto;
}
.siebui-popup-select-columns .ui-select{
  max-width: 200px;
  text-overflow: ellipsis;
}
.ui-selectmenu-screen {
  z-index: 1099;
}
.ui-selectmenu {
  max-height: 400px;
  overflow-y: auto!important;
}
.ui-selectmenu li {
  height: 40px !important;
}
.ui-selectmenu .ui-header a {
  top: 2px;
  left: 8px;
}
.dw {
  -ms-touch-action: none;
}
/* File Attachments */
a.siebui-attachment {
  width: 48px;
  height: 100px;
  float: left;
  margin-top: 14px;
}
.siebui-file-label {
  height: 40px;
  width: 82px;
  overflow: hidden;
  position: relative;
  display: inline;
}
.siebui-file-input {
  height: 100%;
  width: 82px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
input[name="s_SweUrl_0"] {
  height: auto !important;
}
/* File Attachments */

/* iPad */
@media all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape){}
@media all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait){}
/* iPhone */
@media all and (max-device-width: 480px) and (orientation:landscape){}
@media all and (max-device-width: 480px) and (orientation:portrait){}
@media all and (orientation:landscape)
{
  .SiebelContentListContainer{
    width:40%;
    height:100%;
  }
  .SiebelMapContainer {
    width: 40%;
    float: none;
  }
  .SiebelContentDetailContainer,
  .SiebelContentListContainerRelatedItemsOuterCont{
    width:60%;
    height:100%;
  }
}
@media all and (orientation:portrait)
{
  #_swecontent,
  #_swescrnbar {
    width: 98%;
    float: none;
  }
  .SiebelMapContainer,
  .SiebelContentListContainer,
  .SiebelContentDetailContainer{
    width: 100%;
    float: none;
  }
  .SiebelDetailParentContainerRelatedItemsOuterCont,
  .SiebelContentListContainerRelatedItemsOuterCont{
    width: 100%;
    float: none;
    -ms-touch-action: none;
  }
}

/*Commented our for shadow values, if needed in future*/
/*.ui-li-static.ui-li {
  box-shadow: inset -8px 0px 9px -9px #a5abac;
  -moz-box-shadow: inset -8px 0px 9px -9px #a5abac;
  -webkit-box-shadow: inset -8px 0px 9px -9px #a5abac;
}
*/
/*Following Fix is workaround will be removed after final fix*/
/*.SiebelMobileViewTabContainer #s_vctrl_div a:nth-child(2)
{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
}
.SiebelMobileViewTabContainer #s_vctrl_div a:last-child
{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
}*/
/* Drilldown links */
/*.drilldown {
  color: #004785 !important;
  text-decoration: underline;
}*/
/* jQuery auto select drop down */
/* .ac_results {
  padding: 3px 0 5px 2px;
  overflow: hidden;
  z-index: 99999;
  border-top: 0;
  border-image: initial;
}*/
/*Above Fix is workaround will be removed after final fix*/

/* Form Applet Header (e.g. "Accounts", "Contacts") */
.siebui-mb-applet-header,
.SiebelContentListContainerRelatedItemsOuterCont .AppletButtons {
  width: 100%;
  display: table;
  padding: 2px 10px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.siebui-mb-applet-title {
  display: table-cell;
  font-size: 24px;
  vertical-align: middle;
}
.siebui-mb-applet-title > div  {
  display: table-cell;
}
.siebui-mb-applet-button-bar {
  display: table-cell;
  float: right;
}
.siebui-mb-applet-button-bar  div  {
  display: inline-block;
}

/* Form Applet Heading (e.g. "3Com", "Ray Aamos") */
.siebui-iconMap,
.siebui-formappleth1 {
  display: inline-block;
}
.siebui-formappleth2,
.siebui-formappleth3 {
  margin-left: 51px;
}

/* Form Applet Field Label and Value */
.siebui-mb-label,
.siebui-mb-value {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  min-height: 30px;
  float: left;
}
div.ui-input-text.siebui-mb-label {
  width: 30%;
  text-align: right;
  clear: left;
}
.siebui-mb-value {
  width: 70%;
}
.siebui-mb-value:last-child {
  height: 100%;
  word-wrap: break-word;
}
.siebui-mb-value img {
  margin-left: 12px;
}
.siebui-mb-value input.screen-cntrl-readonly {
  height: 19px !important;
}

/* text area in form edit */
.ui-field-contain input.ui-input-text,
.ui-field-contain textarea.ui-input-text,
.ui-field-contain .ui-input-search,
.ui-field-contain .ui-controlgroup-controls {
  width: 60%;
}
.ui-field-contain div.ui-input-text {
  width: 76%
}
/* Expand Collpase buttons styles in form applet */
.siebui-NoScrollFormContainer {
  position: relative !important;
  overflow-y: hidden !important;
}
.siebui-ShowmoreFormContainer {
  max-height: 100% !important;
}
.siebui-ShowmoreFormContainerXL {
  max-height: 150% !important;
}
.siebui-ShowlessFormContainer {
  max-height: 50% !important;
  height: 50% !important;
}
.siebui-ShowmoreSiblingContainer {
  overflow-y: hidden !important;
  min-height: 0% !important;
}
.ui-icon-btn_more,
.ui-icon-btn_less {
  position: absolute;
  border: 0;
  bottom: 4px;
  right: 10px;
  width: 32px;
  height: 32px;
  z-index: 10;
  padding: 0;
}
.siebui-collapsible-applet-content {
  z-index: 10;
}
.jqmgrid_row_bar input.jqmgrid_pick.ui-input-text {
  padding-right: 22px;
}
/* popup */
#popup-popup {
  overflow: scroll !important;
  max-height: 85% !important;
  max-width: 95% !important;
  background-color:#F0F0F0;
}
#popup-popup .siebui-popup-filter span.siebui-popup-button input.ui-input-text {
  padding: 0 !important;
  margin: 0 !important;
  height: 36px !important;
  width: 150px !important;
}
/* JQM Table */
.jqmtable th,
.jqmtable td {
  padding: 0px;
  vertical-align: middle;
  text-align: center;
  max-width: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jqmtable th img,
.jqmtable td img {
  vertical-align: middle;
}
.jqmtable th {
  height: 3em;
}
.jqmtable td {
  height: 35px;
}
.jqmtable .ui-tr-heading {
  text-overflow: ellipsis;
  overflow: hidden;
}
.jqmtable table {
  width: 100%;
}
.jqmtable tbody {
  display: block;
  width: 100%;
}
.jqmtable tbody tr,
.jqmtable .ui-scrollview-view {
  display: table;
  width: 100%;
}
.jqmtable .aSwipeBtn {
  position: absolute;
  right: 50%;
  margin-top: 5px;
}
.ui-table-columntoggle-btn {
  display: none;
}
/************************ Page transitions - Start ***********************/
.siebui-prev-slideleft-begin {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  z-index: 999;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}
.siebui-prev-slideleft-end {
  left: -2000px;
}
.siebui-next-slideleft-begin {
  position: absolute;
  left: 1024px;
  width: 100% !important;
  opacity: 0;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}
.siebui-next-slideleft-end {
  left: 0;
  opacity: 1;
}
/************************ Page transitions - End ************************/
/************************** jqm Tool Bar - Start ************************/
.siebui-tb-popup {
  z-index: 9999;
  position: absolute;
  width: 340px;
  height: 200px;
  top: 20px;
  left: -320px;
}
.siebui-tb-popup-top  {
  height: 70%;
}
.siebui-tb-popup-top div:nth-child(2) {
  font-weight: bold;
}
.siebui-tb-popup-bottom {
  height: 30%;
  position: absolute;
}
.siebui-tb-item-img {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}
.siebui-tb-item-img img {
   height: 110px;
   width: 110px;
}
.siebui-tb-item-text {
  float: left;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}
.siebui-tb-item-btn {
  display: inline-block;
  margin-left: 60px;
  width: 80px;
}
/*************************** jqm Tool Bar - End *************************/
/****************** Disconnected Siebel Mobile - Start ******************/
img.goOffline,
img.metadataDone,
img.offlineDataEnd,
img.cachingData,
img.offlinePackageEnd,
img.appCacheProgress1,
img.appCacheProgress2,
img.appCacheProgress3,
img.appCacheProgress4,
img.appCacheProgress5,
img.appCacheProgress6,
.progressbar {
  width: 344px;
  height: 12px;
  position: absolute;
}
.progressbar {
  right: 0%;
  z-index: 10;
}
img.statusOnline,
img.statusFullDownLoad,
img.statusFullDownLoadFailed,
img.statusSyncPending,
img.statusIncDataDownLoad,
img.statusIncDownLoadFailed,
img.statusUpSync,
img.statusUpSyncFailed,
img.statusUpSyncDataConflict,
img.statusUpSyncDone,
img.stati {
  width: 16px !important;
  height: 18px !important;
  position: absolute;
  margin-left: -3% !important;
  top: 20% !important;
}
div #GoOffline img {
  margin-right: 0px !important;
}
div#GoOffline a img.stati {
  margin-right: 0px !important;
  margin-left: -3% !important;
}
div #Sync {
  display: none;
}
.passwd input,
.passwd .ui-simpledialog-controls{
  margin: auto !important;
}
.passwd .ui-simpledialog-controls a{
  border-radius: 1em !important;
  float: right;
  min-width: 80px;
  margin: 5px;
}
/******************* Disconnected Siebel Mobile - End *******************/
/*************************** Site Map - Start ***************************/
.siebui-sitemap-page {
  margin: 0 auto;
  outline: none;
  width: 800px;
  text-align: center;
}
.siebui-sitemap-main {
  margin: 0;
  padding: 10px;
  display: inline-block;
  list-style: none;
}
.siebui-sitemap-item {
  position: relative;
  float: left;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  width: 110px;
  height: 110px;
  margin: 40px;
  outline: none;
  text-decoration: none;
  border-radius:10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.siebui-sitemap-item-link a {
  bottom: 0;
  left: 0;
  top: 0;
  height: 20px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 110px;
  padding-top: 90px;
}
.siebui-sitemap-item-link img {
  position: absolute;
  top: 10px;
  left: 31px;
  height: 48px;
  width: 48px;
}
.siebui-toolbar-sitemap-mobile a img {
  margin: 10px !important;
  height: 30px;
  width: 30px;
}
/**************************** Site Map - End ****************************/
/************************ Flex Style List - Start ***********************/
.siebui-ui-li-heading {
  margin: .6em 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.siebui-ui-li-desc {
  margin: .6em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 90%;
  width: auto;
  display: block;
}
.siebui-ui-li-aside {
  float: right;
  width: 45%;
  text-align: right;
  margin: -2.2em 0;
}
.siebui-ui-li-desc:hover,
.siebui-ui-li-heading:hover {
  overflow: visible;
  word-wrap: break-word;
  white-space: normal;
}
/************************* Flex Style List - End ************************/
/************************** Inline Edit - Start *************************/
.siebui-ui-li-headinglabel {
  display: none;
}
.siebui-ui-li-desc .jqmlist_JText,
.siebui-ui-li-desc .jqmlist_JDateTimeZonePick,
.siebui-ui-li-desc .jqmlist_JDateTimePick,
.siebui-ui-li-desc .jqmlist_JDatePick,
.siebui-ui-li-desc .jqmlist_Pick,
.siebui-ui-li-desc .jqmlist_Mailto,
.siebui-ui-li-desc .jqmlist_URL,
.siebui-ui-li-desc .jqmlist_Phone,
.siebui-ui-li-desc .jqmlist_JComboBox,
.siebui-ui-li-desc .jqmlist_JCalculator,
.siebui-ui-li-desc .jqmlist_JCurrencyCalc,
.siebui-ui-li-desc .jqmlist_JPassword,
.siebui-ui-li-desc .jqmlist_JTextArea {
  width: 80%;
  min-height: 18px;
  display: inline-block;
}
.siebui-ui-li-aside .jqmlist_JText,
.siebui-ui-li-aside .jqmlist_JDateTimeZonePick,
.siebui-ui-li-aside .jqmlist_JDateTimePick,
.siebui-ui-li-aside .jqmlist_JDatePick,
.siebui-ui-li-aside .jqmlist_Pick,
.siebui-ui-li-aside .jqmlist_Mailto,
.siebui-ui-li-aside .jqmlist_URL,
.siebui-ui-li-aside .jqmlist_Phone,
.siebui-ui-li-aside .jqmlist_JComboBox,
.siebui-ui-li-aside .jqmlist_JCalculator,
.siebui-ui-li-aside .jqmlist_JCurrencyCalc,
.siebui-ui-li-aside .jqmlist_JPassword,
.siebui-ui-li-aside .jqmlist_JTextArea {
  min-width: 80%;
  min-height: 18px;
  display: inline-block;
  text-align: left;
}
.siebui-ui-li-heading .jqmlist_JText,
.siebui-ui-li-heading .jqmlist_JDateTimeZonePick,
.siebui-ui-li-heading .jqmlist_JDateTimePick,
.siebui-ui-li-heading .jqmlist_JDatePick,
.siebui-ui-li-heading .jqmlist_Pick,
.siebui-ui-li-heading .jqmlist_Mailto,
.siebui-ui-li-heading .jqmlist_URL,
.siebui-ui-li-heading .jqmlist_Phone,
.siebui-ui-li-heading .jqmlist_JComboBox,
.siebui-ui-li-heading .jqmlist_JCalculator,
.siebui-ui-li-heading .jqmlist_JCurrencyCalc,
.siebui-ui-li-heading .jqmlist_JPassword,
.siebui-ui-li-heading .jqmlist_JTextArea {
  width: 55%;
  min-height: 18px;
  display: inline-block;
  overflow : hidden;
  text-overflow : ellipsis;
}
.jqmform_JText,
.jqmform_JDateTimeZonePick,
.jqmform_JDateTimePick,
.jqmform_JDatePick,
.jqmform_Pick,
.jqmform_Phone,
.jqmform_Mailto,
.jqmform_URL,
.jqmform_JComboBox,
.jqmform_JCalculator,
.jqmform_JCurrencyCalc,
.jqmform_JPassword,
.jqmform_JTextArea {
  min-height: 18px;
  display: block;
}
.jqmform_JText input,
.jqmform_Pick input {
  width: 100% !important;
  margin: 0;
}
/*************************** Inline Edit - End **************************/
/********************* CG App Custom Styling - Start ********************/
.siebui-cg-call-list-custom-heading {
  font-size: 20px;
  font-weight: bold;
}
.siebui-cg-call-list-custom-aside {
  float: right;
  width: 45%;
  text-align: right;
  margin: -2.2em 0;
}
.siebui-cg-call-list-custom-desc {
  margin: .6em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 90%;
  width: auto;
  display: block;
}
.siebui-cg-call-list-custom-desc:hover,
.siebui-cg-call-list-custom-heading:hover {
  overflow: visible;
  word-wrap: break-word;
  white-space: normal;
}
.siebui-calls-address {
  font-size: 18px;
}
.siebui-calls-name {
  font-size: 24px;
  width: 50%;
}
.siebui-calls-status {
  font-size: 15px;
}
.siebui-mb-valdtn-typelabel > span {
  display: inline;
}
/********************** CG App Custom Styling - End *********************/
/***************************** Tile - Start *****************************/
.siebui-tile-container {
  position: relative;
  z-index: 1;
  overflow: scroll;
  list-style: none;
  padding: 5px 10px 5px 10px;
  background: url(../images/backgroundtile.png);
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  float: left;
  width: 100%;
}
.siebui-tilelayoutpr.siebui-tile {
  position: relative;
  float: left;
  width: 95%;
  height: 200px;
  border: 1px solid #fafafa;
  margin: 10px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
.siebui-tilelayoutpr.siebui-tileshadow:before,
.siebui-tilelayoutpr.siebui-tileshadow:after {
  z-index: -1;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4s);
  -moz-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}
.siebui-tilelayoutpr.siebui-tileshadow:after {
  left: auto;
  right: 10px;
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}
.siebui-tilelayoutpr.siebui-tile-name {
  position: relative;
  top: 0px;
  left: 0px;
  font: normal 12px PT Sans, verdana, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #efefef;
  background-color: #423e39;
  padding: 4px 5px 4px 10px;
  height: 24px;
}
.siebui-tilelayoutpr.siebui-tile-selected {
  -webkit-box-shadow: 0 0 26px #7faff2;
  -moz-box-shadow: 0 0 26px #7faff2;
  box-shadow: 0 0 26px #7faff2;
  border: 1px solid #ccc;
  background: rgb(239, 245, 252);
}
.siebui-tilelayoutpr.stars1-img,
.siebui-tilelayoutpr.stars2-img,
.siebui-tilelayoutpr.stars3-img,
.siebui-tilelayoutpr.stars4-img,
.siebui-tilelayoutpr.stars5-img {
  position: absolute;
  right: 2px;
  height: 14px;
}
.siebui-tilelayoutpr.stars1-img {
  content: url(../images/stars-1.png);
}
.siebui-tilelayoutpr.stars2-img {
  content: url(../images/stars-2.png);
}
.siebui-tilelayoutpr.stars3-img {
  content: url(../images/stars-3.png);
}
.siebui-tilelayoutpr.stars4-img {
  content: url(../images/stars-4.png);
}
.siebui-tilelayoutpr.stars5-img {
  content: url(../images/stars-5.png);
}
.siebui-tilelayoutpr.siebui-tile-personal-details {
  width: 100%;
  height: 40%;
  font: normal 12px PT Sans, verdana, sans-serif;
  background: url(../images/contactdefault.png);
  background-size: 193px 61px;
  background-position: 100% 6px;
  background-repeat: no-repeat;
}
.siebui-tilelayoutpr.siebui-tile-personal-photo {
  float: right;
  margin: 5px 5px 0px -200px;
  height: 61px;
  width: auto;
}
.siebui-tilelayoutpr.siebui-tile-personal-jobinfo {
  font: 10px PT Sans, sans-serif;
  float: left;
  margin: 0px -100px -10px 0px;
  padding: 3px 0px 0px 10px;
}
.siebui-tilelayoutpr.siebui-tile-personal-jobinfo > ul {
  list-style: none;
  padding-left: 0px;
}
.siebui-tilelayoutpr.siebui-tile-contact-details {
  font: 12px Source Sans Pro, tahoma, sans-serif;
  font-weight: normal;
  width: 98%;
  min-height: 30%;
  margin: -18px -100px 0px 0px;
  padding: 3px 0px 0px 10px;
}
.siebui-tilelayoutpr.siebui-tile-contact-details > ul {
  list-style: none;
  padding-left: 0px;
  vertical-align: text-top;
}
.siebui-tilelayoutpr.siebui-tile-contact-details-img {
  margin: 0px 5px 0px 0px;
  background: transparent;
}
.siebui-tilelayoutpr.siebui-tile-link {
  color: #324FE1;
  text-decoration: none !important;
}
.siebui-tilelayoutpr.siebui-tile-drilldown {
  font: inherit;
  color: inherit;
  text-decoration: none;
  width: auto;
  max-width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  height: 15px;
}
.siebui-tile-name .siebui-form-data .jqmlist_JCheckBox .ui-slider {
   top: -10px;
}
.siebui-form-data .jqmlist_JText,
.siebui-form-data .jqmlist_JDateTimeZonePick,
.siebui-form-data .jqmlist_JDateTimePick,
.siebui-form-data .jqmlist_JDatePick,
.siebui-form-data .jqmlist_Pick,
.siebui-form-data .jqmlist_Mailto,
.siebui-form-data .jqmlist_URL,
.siebui-form-data .jqmlist_Phone,
.siebui-form-data .jqmlist_JComboBox,.siebui-form-data .jqmlist_JCalculator,
.siebui-form-data .jqmlist_JCurrencyCalc,
.siebui-form-data .jqmlist_JPassword,
.siebui-form-data .jqmlist_JTextArea {
  width: 80%;
  min-height: 15px;
  display: inline-block;
  overflow : hidden;
  text-overflow : ellipsis;
}
.siebui-form-data {
  text-align: justify !important;
}
.jqmlist_JComboBox a {
  margin: 1px;
}
/****************************** Tile - End ******************************/
.siebui-ipe-enabled {
  min-height: 39px;
}
div.ui-slider-switch {
  margin: 0;
}